<template>
  <v-container class="mt-4">
    <v-row>
      <v-col xl="2" lg="3" md="6" sm="6" cols="12">
        <Calendario
          v-model="filtro.dataInicio"
          @change="change"
          @update:value="filtro.dataInicio = $event"
          required
          label="Data de Início"
        />
      </v-col>
      <v-col xl="2" lg="3" md="6" sm="6" cols="12">
        <Calendario
          v-model="filtro.dataFim"
          @change="change"
          @update:value="filtro.dataFim = $event"
          required
          label="Data de Fim"
        />
      </v-col>
      <v-col xl="4" lg="6" md="6" sm="12" cols="12">
        <span class="data-span">Buscar por empresa ou CNPJ:</span>
        <v-autocomplete
          solo
          dense
          clearable
          label="Buscar por empresa ou CNPJ"
          hide-details="auto"
          :loading="loader.filtroEmpresa"
          v-model="filtro.empresa"
          item-text="descricao"
          item-value="entry"
          :items="itemsEmpresa"
          @change="change"
          @click:clear="change"
          :search-input.sync="searchEmpresa"
          :no-data-text="
            searchEmpresa != null && searchEmpresa.length > 0
              ? 'Nenhum dado encontrado'
              : 'Digite o CNPJ ou empresa desejados'
          "
        >
          <v-icon slot="prepend-inner" color="#898989" small>
            fa-search
          </v-icon>
        </v-autocomplete>
      </v-col>
      <v-col xl="2" lg="6" md="6" sm="12" cols="12">
        <span class="data-span">Solicitante:</span>
        <v-autocomplete
          solo
          dense
          clearable
          label="Solicitante"
          hide-details="auto"
          v-model="filtro.solicitante"
          item-text="nome"
          item-value="login"
          :items="itemsSolicitante"
          :loading="loader.filtroSolicitantes"
          @change="change"
          @clear="change"
          :search-input.sync="searchSolicitante"
          :no-data-text="
            searchSolicitante != null && searchSolicitante.length > 0
              ? 'Nenhum dado encontrado'
              : 'Digite o nome do solicitante desejado'
          "
        >
          <v-icon slot="prepend-inner" color="#898989" small>
            fa-search
          </v-icon>
        </v-autocomplete>
      </v-col>
      <v-col xl="2" lg="6" md="12" sm="12" cols="12">
        <span class="data-span">Atendente:</span>
        <v-select
          solo
          dense
          clearable
          label="Atendente"
          hide-details="auto"
          v-model="filtro.atendente"
          item-text="nome"
          item-value="login"
          :items="atendentesFiltro"
          :loading="loader.filtroAtendente"
          @change="change"
          @clear="change"
        >
          <v-icon slot="prepend-inner" color="#898989" small>
            fa-search
          </v-icon>
        </v-select>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Calendario from '@/components/Calendario.vue';
export default {
  name: 'FiltroConsultas',
  components: {
    Calendario,
  },
  props: {
    filtro: { type: Object },
    loader: { type: Object },
    atendentesFiltro: { type: Array, default: () => [] },
    itemsSolicitante: { type: Array, default: () => [] },
    itemsEmpresa: { type: Array, default: () => [] },
  },
  data() {
    return { searchEmpresa: '', searchSolicitante: '', searchAtendente: '' };
  },
  watch: {
    searchEmpresa(param) {
      this.$emit('searchEmpresa', param);
    },
    searchSolicitante(param) {
      this.$emit('searchSolicitante', param);
    },
  },
  methods: {
    change() {
      this.$emit('change');
    },
  },
};
</script>

<style scoped>
.data-span {
  font-size: 0.8em;
}
</style>
