<template>
  <v-card flat>
    <div class="mt-5 pa-5">
      <h1 class="text-center text-uppercase">
        Pesquisas em atendimento
      </h1>
      <v-container v-if="atendentes.length > 0">
        <div class="mt-3" v-for="(atendente, index) in atendentes" :key="index">
          <v-row>
            <h3 class="mt-4 pl-3 font-weight-regular">
              <b>Em atendimento por:</b> {{ atendente.nome }}
            </h3>
          </v-row>
          <div
            class="box-card pa-5"
            v-for="pesquisa in pesquisasEmAndamento(atendente)"
            :key="pesquisa.id"
            :class="{
              pesquisaUrgente: pesquisa.urgente && !pesquisa.solicitadoPor.vip,
              pesquisaVip: pesquisa.solicitadoPor.vip && !pesquisa.urgente,
              pesquisaVipUrgente:
                pesquisa.urgente && pesquisa.solicitadoPor.vip,
            }"
          >
            <v-row>
              <v-col cols="12" sm="12" md="6" lg="2" xl="2"
                ><b class="subtitulo-consulta">CNPJ:</b><br />
                {{ pesquisa.cnpj }}
              </v-col>
              <v-col cols="12" sm="12" md="6" lg="4" xl="3">
                <b class="subtitulo-consulta">Empresa:</b><br />
                {{ pesquisa.empresa }}
              </v-col>
              <v-col cols="12" sm="12" md="6" lg="2" xl="3">
                <b class="subtitulo-consulta"> Solicitado por: </b><br />
                {{ pesquisa.solicitadoPor.nome }}
              </v-col>
              <v-col
                cols="12"
                sm="8"
                md="6"
                lg="2"
                xl="2"
                class="d-flex alinhar-responsivo"
              >
                <div>
                  <b class="subtitulo-consulta">Solicitada em:</b><br />
                  {{
                    new Date(
                      pesquisa.dataCriacao + " 00:00"
                    ).toLocaleDateString("pt-BR")
                  }}
                </div>
              </v-col>
              <v-col
                xs="12"
                sm="12"
                md="6"
                lg="2"
                xl="2"
                class="d-flex alinhar-responsivo"
              >
                <div>
                  <b class="subtitulo-consulta">Atendimento:</b><br />
                  {{
                    new Date(
                      pesquisa.dataAtualizacao + " 00:00"
                    ).toLocaleDateString("pt-BR")
                  }}
                </div>
              </v-col>
            </v-row>
            <v-divider class="my-3"></v-divider>
            <v-row class="justify-center">
              <v-btn
                :loading="loading"
                @click="
                  atender(
                    pesquisa.id,
                    true,
                    pesquisa.emAtendimentoPor.login == user.login
                  )
                "
                color="error"
                elevation="1"
                outlined
                width="160px"
                small
                class="mr-5 mt-2"
                >{{
                  pesquisa.emAtendimentoPor.login == user.login
                    ? "Parar Atendimento"
                    : "Atender"
                }}</v-btn
              >

              <div
                v-if="
                  (pesquisa.emAtendimentoPor.login == user.login ||
                    user.rolesAllowed === 'Administrador') &&
                    pesquisa.porcConclusao >= 100
                "
              >
                <v-btn
                  :loading="loading"
                  color="success"
                  elevation="1"
                  outlined
                  width="160px"
                  small
                  class="mr-5 mt-2"
                  @click="concluir(pesquisa.id)"
                  >Concluir</v-btn
                >
              </div>
              <v-btn
                color="primary"
                elevation="1"
                outlined
                width="160px"
                small
                class="mr-5 mt-2"
                :to="`/detalhes-pesquisa/${pesquisa.id}/${1}`"
              >
                Ver Detalhes
              </v-btn>
            </v-row>
          </div>
        </div>
      </v-container>
      <v-container v-else>
        <v-alert text dense type="error">
          <h4>Não existem pesquisas em atendimento.</h4>
        </v-alert>
      </v-container>
    </div>
  </v-card>
</template>

<script>
export default {
  name: "ListaPesquisasEmAtendimento",
  components: {},
  props: {
    atendentes: { type: Array, default: () => [] },
    pesquisas: { type: Array, default: () => [] },
    user: { type: Object, default: () => {} },
    loading: { type: Boolean, default: false },
  },
  data() {
    return {
      emailMensagem: {
        subject: "Solicitação de Pesquisa",
        body:
          "A solicitação de pesquisa do cnpj $str0$, empresa $str1$ foi concluída e está disponível no portal do NIN.",
      },
    };
  },
  methods: {
    pesquisasEmAndamento(atendente) {
      if (this.pesquisas) {
        return this.pesquisas.filter((p) =>
          !p.concluido && p.emAtendimentoPor
            ? p.emAtendimentoPor.login === atendente.login
            : false
        );
      } else {
        return [];
      }
    },
    atender(id, isEmAtendimento, isMesmoAtendente) {
      const vm = this;
      vm.$emit("atender", id, isEmAtendimento, isMesmoAtendente);
    },
    concluir(id) {
      const vm = this;
      vm.$emit("concluir", id);
    },
  },
};
</script>

<style scoped>
.box-card {
  box-shadow: 0px 0px 4px 2px #8080802e;
  padding: 10px;
  margin-top: 1rem;
}

.alinhar-responsivo {
  justify-content: center;
}

.pesquisaUrgente {
  border: 2px solid #f125256b;
  background-color: #f8a7a76b;
}

.pesquisaVip {
  border: 2px solid #20b11b6b;
  background-color: #e4fde0;
}

.pesquisaVipUrgente {
  border: 2px solid #f125256b;
  background: repeating-linear-gradient(
    30deg,
    #e4fde0,
    #e4fde0 30px,
    #f8a7a76b 30px,
    #f8a7a76b 60px
  );
}

@media screen and (max-width: 960px) {
  .v-slide-group__content {
    flex-direction: column !important;
  }
  .tab-responsivo {
    max-width: 100%;
  }
  .tab-altura {
    height: 100px !important;
  }
  .tab-altura1 {
    height: 100%;
  }
}

@media screen and (max-width: 1264px) {
  .alinhar-responsivo {
    justify-content: start;
  }
}

@media screen and (max-width: 600px) {
  .alinhar-responsivo {
    justify-content: start;
  }
}
</style>
