<template>
  <v-card flat>
    <div class="mt-5 pa-5">
      <h1 class="text-center text-uppercase">
        Pesquisas em Aberto
      </h1>
      <v-container v-if="solicitantesPendentes.length > 0">
        <div
          v-if="
            Object.keys(mapUrgentes) != null &&
              Object.keys(mapUrgentes).length > 0
          "
        >
          <v-row>
            <h3 class="mt-4 pl-3 urgente">Pesquisas urgentes</h3>
          </v-row>
          <v-expansion-panels>
            <v-expansion-panel
              class="mb-5 mt-5 box-urgente"
              dense
              v-for="key in Object.keys(mapUrgentes)"
              :key="mapUrgentes[key].id"
            >
              <v-expansion-panel-header
                :class="{
                  'box-urgenteBackground': !mapUrgentes[key][0].solicitadoPor
                    .vip,
                  pesquisaVipUrgente: mapUrgentes[key][0].solicitadoPor.vip,
                }"
              >
                <v-col>
                  <b class="subtitulo-consulta">Solicitado por:</b><br />
                  {{ key }}
                </v-col>
                <v-col class="text-center">
                  <b class="subtitulo-consulta"> Total de solicitações:</b
                  ><br />
                  {{ mapUrgentes[key].length }}
                </v-col>
                <v-col class="text-center">
                  <b class="subtitulo-consulta"> Primeira solicitação:</b><br />
                  {{ dataPrimeiraSolicitacao(mapUrgentes[key]) }}
                </v-col>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <div
                  v-for="pesquisa in mapUrgentes[key]"
                  :key="pesquisa.id"
                  class="box-card align-center"
                >
                  <v-row class="align-center">
                    <v-col cols="12" sm="6" md="6" lg="4" xl="4">
                      <b class="subtitulo-consulta">CNPJ:</b><br />
                      {{ pesquisa.cnpj }}
                    </v-col>
                    <v-col cols="12" sm="6" md="6" lg="4" xl="4">
                      <b class="subtitulo-consulta">Empresa:</b><br />
                      {{ pesquisa.empresa }}
                    </v-col>

                    <v-col
                      cols="12"
                      sm="6"
                      md="6"
                      lg="4"
                      xl="4"
                      class="d-flex alinhar-responsivo"
                    >
                      <div>
                        <b class="subtitulo-consulta">Data Solicitação:</b
                        ><br />
                        {{
                          new Date(
                            pesquisa.dataCriacao + " 00:00"
                          ).toLocaleDateString("pt-BR")
                        }}
                      </div>
                    </v-col>
                  </v-row>
                  <v-divider class="my-3"></v-divider>
                  <v-row>
                    <v-col>
                      <b class="subtitulo-consulta">Obervação:</b>
                      {{ truncateString(pesquisa.observacao, 150) }}
                    </v-col>
                  </v-row>

                  <v-divider class="my-3"></v-divider>
                  <v-row>
                    <v-col class="alinhar-botao-atender d-flex">
                      <v-btn
                        :loading="loading"
                        @click="atender(pesquisa.id, false, false)"
                        color="primary"
                        elevation="1"
                        outlined
                        width="160px"
                        small
                        >Atender</v-btn
                      >
                      <v-btn
                        :loading="loading"
                        @click="excluir(pesquisa.id)"
                        color="red"
                        elevation="1"
                        outlined
                        width="160px"
                        small
                        style="margin-left:1em"
                        >Cancelar</v-btn
                      >
                    </v-col>
                  </v-row>
                </div>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </div>
        <h3 class="text-uppercase">Pesquisas abertas</h3>
        <v-expansion-panels>
          <v-expansion-panel
            :class="{ 'mt-3': true, pesquisaVip: solicitante.vip }"
            v-for="(solicitante, index) in solicitantesPendentes"
            :key="index"
          >
            <v-expansion-panel-header
              :class="{ pesquisaVipBackground: solicitante.vip }"
            >
              <v-row class="align-center">
                <v-col>
                  <b class="subtitulo-consulta"> Solicitado por: </b><br />
                  {{ solicitante.nome }}
                </v-col>
                <v-col class="text-center">
                  <b class="subtitulo-consulta"> Total de solicitações:</b
                  ><br />
                  {{ pesquisasPendentes(solicitante).length }}
                </v-col>
                <v-col class="text-center">
                  <b class="subtitulo-consulta"> Primeira solicitação:</b><br />
                  {{ dataPrimeiraSolicitacao(pesquisasPendentes(solicitante)) }}
                </v-col>
              </v-row>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-row
                :class="pesquisa.urgente ? 'pesquisaUrgente' : ''"
                class="box-card align-center"
                dense
                v-for="pesquisa in pesquisasPendentes(solicitante)"
                :key="pesquisa.id"
              >
                <v-col cols="12" sm="6" md="6" lg="4" xl="4">
                  <b class="subtitulo-consulta">CNPJ:</b><br />
                  {{ pesquisa.cnpj }}
                </v-col>

                <v-col cols="12" sm="6" md="6" lg="4" xl="4">
                  <b class="subtitulo-consulta">Empresa:</b><br />
                  {{ pesquisa.empresa }}
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  md="6"
                  lg="4"
                  xl="4"
                  class="d-flex alinhar-responsivo"
                >
                  <div>
                    <b class="subtitulo-consulta">Data Solicitação:</b><br />
                    {{
                      new Date(
                        pesquisa.dataCriacao + " 00:00"
                      ).toLocaleDateString("pt-BR")
                    }}
                  </div>
                </v-col>
                <v-col xs="12" sm="12" md="12" lg="12" xl="12">
                  <v-divider class="my-3"></v-divider>
                </v-col>
                <v-col
                  xs="12"
                  sm="12"
                  md="12"
                  lg="12"
                  xl="12"
                  class="alinhar-botao-atender d-flex"
                >
                  <v-btn
                    :loading="loading"
                    @click="atender(pesquisa.id, false, false)"
                    color="primary"
                    elevation="1"
                    outlined
                    width="160px"
                    small
                    >Atender</v-btn
                  >
                  <v-btn
                    :loading="loading"
                    @click="excluir(pesquisa.id)"
                    color="red"
                    elevation="1"
                    outlined
                    width="160px"
                    small
                    style="margin-left:1em"
                    >Cancelar</v-btn
                  >
                </v-col>
              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-container>
      <v-container v-else>
        <v-alert text dense type="error">
          <h4>Não existem pesquisas em aberto.</h4>
        </v-alert>
      </v-container>
    </div>
  </v-card>
</template>

<script>
export default {
  name: "ListaPesquisasEmAberto",
  components: {},
  props: {
    solicitantesPendentes: { type: Array, default: () => [] },
    pesquisas: { type: Array, default: () => [] },
    mapUrgentes: { type: Object, default: () => {} },
  },
  data() {
    return {
      fechaMenu: false,
      user: {},
      loading: false,
      emailMensagem: {
        subject: "Solicitação de Pesquisa",
        body:
          "A solicitacao de pesquisa do cnpj $str0$, empresa $str1$ está ...",
      },
    };
  },
  methods: {
    truncateString(str, num) {
      if (str == null) {
        return "";
      }
      if (str.length <= num) {
        return str;
      }
      return str.slice(0, num) + "...";
    },
    pesquisasPendentes(solicitante) {
      if (this.pesquisas) {
        return this.pesquisas.filter(
          (p) =>
            !p.emAtendimentoPor &&
            !p.concluido &&
            !p.urgente &&
            p.solicitadoPor.login === solicitante.login
        );
      } else {
        return [];
      }
    },
    atender(id, isEmAtendimento, isMesmoAtendente) {
      const vm = this;
      vm.$emit("atender", id, isEmAtendimento, isMesmoAtendente);
    },
    excluir(id) {
      const vm = this;
      vm.$emit("excluir", id);
    },

    dataPrimeiraSolicitacao(listaFiltrada) {
      const dataPrimeiraSolicitacao =
        listaFiltrada[listaFiltrada.length - 1].dataCriacao;
      return new Date(dataPrimeiraSolicitacao + " 00:00").toLocaleDateString(
        "pt-BR"
      );
    },
  },
};
</script>

<style scoped>
.box-card {
  box-shadow: 0px 0px 4px 2px #8080802e;
  padding: 10px;
  margin-top: 1rem;
}

.alinhar-responsivo {
  justify-content: center;
}

.alinhar-botao-atender {
  justify-content: center;
}

.urgente {
  color: #f52929;
  text-transform: uppercase;
}

.pesquisaUrgente {
  border: 2px solid #f125256b;
}

.pesquisaVip {
  border: 2px solid #20b11b6b;
  border-radius: 10px;
}

.pesquisaVipBackground {
  background-color: #e4fde0;
}

.box-urgente {
  margin-top: 1rem;
  border: 2px solid #f125256b;
  border-radius: 10px;
}

.box-urgenteBackground {
  background-color: #f8a7a76b;
}

.pesquisaVipUrgente {
  border: 2px solid #f125256b;
  background: repeating-linear-gradient(
    30deg,
    #e4fde0,
    #e4fde0 30px,
    #f8a7a76b 30px,
    #f8a7a76b 60px
  );
}

.v-expansion-panel-header {
  line-height: inherit !important;
  font-size: inherit !important;
  box-shadow: 0px 0px 5px 1px #80808038;
  padding: 10px;
  border-radius: 5px;
}

.v-expansion-panel-content {
  box-shadow: 0px 0px 5px 1px #80808038;
  border-radius: 0 0 5px 5px;
}

.v-expansion-panel::before {
  box-shadow: none;
}

.v-expansion-panel-header--active {
  background-color: #f8f8f8;
  box-shadow: 0px 2px 3px 1px #80808038;
}

@media screen and (max-width: 1264px) {
  .alinhar-responsivo {
    justify-content: start;
  }
  .alinhar-botao-atender {
    justify-content: start;
  }
}

@media screen and (max-width: 600px) {
  .alinhar-responsivo {
    justify-content: start;
  }
  .alinhar-botao-atender {
    justify-content: center;
  }
}
@media screen and (max-width: 960px) {
  .v-slide-group__content {
    flex-direction: column !important;
  }
  .tab-responsivo {
    max-width: 100%;
  }
  .tab-altura {
    height: 100px !important;
  }
  .tab-altura1 {
    height: 100%;
  }
}
</style>
