<template>
  <v-card flat>
    <div class="mt-5 pa-5">
      <h1 class="text-center text-uppercase">Pesquisas concluídas</h1>
      <FiltroConcluidos
        :filtro="filtro"
        :loader="loader"
        :atendentesFiltro="atendentesFiltro"
        :itemsSolicitante="itemsSolicitante"
        :itemsEmpresa="itemsEmpresa"
        @change="buscarPesquisasConcluidas"
        @searchEmpresa="searchEmpresa"
        @searchSolicitante="searchSolicitante"
      />
      <v-container v-if="dataConcluidos.length > 0">
        <v-row>
          <v-col class="d-flex flex-start">
            <p class="pr-5 mb-0">Total de itens: {{ totalItens }}</p>
          </v-col>
          <v-col class="itens-por-pagina">
            <p class="pr-5 mb-0">Itens por página:</p>
            <v-select
              v-model="filtro.qtdItens"
              :items="listaQtdItens"
              label="Itens por página"
              @change="buscarPesquisasConcluidas"
              class="largura-itens-por-pagina"
              solo
              dense
              hide-details="true"
            >
            </v-select>
          </v-col>
        </v-row>
        <div
          class="mt-3 mb-4"
          v-for="(data, index) in dataConcluidos"
          :key="index"
        >
          <v-row>
            <h3 class="mt-3 pl-3 font-weight-regular">
              <b>Concluída em:</b>
              {{ new Date(data + " 00:00").toLocaleDateString("pt-BR") }}
            </h3>
          </v-row>
          <v-row
            class="box-card align-center"
            dense
            v-for="pesquisa in agruparPesquisasConcluidas(data)"
            :key="pesquisa.id"
          >
            <v-col cols="12" sm="6" md="6" lg="2" xl="2">
              <b class="subtitulo-consulta">CNPJ:</b><br />
              {{ pesquisa.cnpj }}
            </v-col>
            <v-col cols="12" sm="6" md="6" lg="3" xl="3">
              <b class="subtitulo-consulta">Empresa:</b><br />
              {{ pesquisa.empresa }}
            </v-col>
            <v-col cols="12" sm="6" md="6" lg="2" xl="2">
              <b class="subtitulo-consulta">Solicitante:</b><br />{{
                pesquisa.solicitadoPor.nome
              }}
            </v-col>
            <v-col
              cols="12"
              sm="6"
              md="6"
              lg="2"
              xl="2"
              class="d-flex alinhar-start"
            >
              <div>
                <b class="subtitulo-consulta">Atendente:</b><br />
                {{ pesquisa.emAtendimentoPor.nome }}
              </div>
            </v-col>
            <v-col
              cols="12"
              sm="6"
              md="6"
              lg="1"
              xl="1"
              class="d-flex alinhar-responsivo"
            >
              <div>
                <b class="subtitulo-consulta">UF:</b><br />
                {{ pesquisa.solicitadoPor.uf }}
              </div>
            </v-col>
            <v-col
              cols="12"
              sm="6"
              md="6"
              lg="2"
              xl="2"
              class="d-flex alinhar-responsivo"
            >
              <div>
                <b class="subtitulo-consulta">Data Solicitação:</b><br />
                {{
                  new Date(pesquisa.dataCriacao + " 00:00").toLocaleDateString(
                    "pt-BR"
                  )
                }}
              </div>
            </v-col>
            <v-col
              cols="12"
              sm="12"
              md="12"
              lg="12"
              xl="12"
              class="d-flex"
              style="justify-content: center;"
            >
              <v-btn
                color="primary"
                elevation="1"
                outlined
                width="160px"
                small
                class="mr-5 mt-2"
                :to="`/detalhes-pesquisa/${pesquisa.id}/${2}`"
              >
                Ver Detalhes
              </v-btn>
            </v-col>
          </v-row>
        </div>

        <v-row class="mt-3">
          <div class="paginacao">
            <v-pagination
              v-model="filtro.pagina"
              :length="maxPages"
              :total-visible="7"
              circle
              @input="buscarPesquisasConcluidas"
              class="pl-10 pr-10"
            ></v-pagination>
          </div>
        </v-row>
      </v-container>
      <v-container v-else>
        <v-alert text dense type="error">
          <h4>Não existem pesquisas concluídas.</h4>
        </v-alert>
      </v-container>
    </div>
  </v-card>
</template>

<script>
import FiltroConcluidos from "./FiltroConcluidos";

var timer;

export default {
  name: "ListaPesquisasConcluidas",
  components: { FiltroConcluidos },
  props: {
    filtro: { type: Object },
    loader: { type: Object },
    empresasFiltro: { type: Array, default: () => [] },
    solicitantesFiltro: { type: Array, default: () => [] },
    atendentesFiltro: { type: Array, default: () => [] },
    dataConcluidos: { type: Array, default: () => [] },
    listaQtdItens: { type: Array, default: () => [] },
    pesquisasConcluidas: { type: Array, default: () => [] },
    maxPages: { type: Number, default: 0 },
    totalItens: { type: Number, default: 0 },
  },
  data() {
    return {};
  },
  computed: {
    itemsEmpresa() {
      return this.empresasFiltro.map((entry) => {
        const descricao = entry.cnpj + " - " + entry.nomeEmpresa;
        return Object.assign({}, { entry }, { descricao });
      });
    },
    itemsSolicitante() {
      return this.solicitantesFiltro.map((entry) => Object.assign({}, entry));
    },
  },
  methods: {
    buscarPesquisasConcluidas() {
      this.$emit("buscarPesquisasConcluidas");
    },
    buscaEmpresaCNPJ(event) {
      this.$emit("buscaEmpresaCNPJ", event);
    },
    buscaSolicitante(event) {
      this.$emit("buscaSolicitante", event);
    },
    agruparPesquisasConcluidas(data) {
      if (this.pesquisasConcluidas) {
        return this.pesquisasConcluidas.filter(
          (p) => p.dataAtualizacao === data
        );
      } else {
        return [];
      }
    },
    searchEmpresa(param) {
      const vm = this;
      if (param) {
        if (timer) {
          clearTimeout(timer);
        }
        timer = setTimeout(async () => {
          await vm.buscaEmpresaCNPJ(param);
        }, 900);
      }
    },
    searchSolicitante(param) {
      const vm = this;
      if (param) {
        if (timer) {
          clearTimeout(timer);
        }
        timer = setTimeout(async () => {
          await vm.buscaSolicitante(param);
        }, 900);
      }
    },
  },
};
</script>

<style scoped>
.box-card {
  box-shadow: 0px 0px 4px 2px #8080802e;
  padding: 10px;
  margin-top: 1rem;
}

.alinhar-responsivo {
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .v-slide-group__content {
    flex-direction: column !important;
  }
  .tab-responsivo {
    max-width: 100%;
  }
  .tab-altura {
    height: 100px !important;
  }
  .tab-altura1 {
    height: 100%;
  }
}

.paginacao {
  display: flex;
  justify-content: center;
  width: 100%;
}

.largura-itens-por-pagina {
  max-width: 100px;
}

.itens-por-pagina {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .itens-por-pagina {
    justify-content: start;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1264px) {
  .alinhar-responsivo {
    justify-content: start;
  }
}

@media screen and (max-width: 600px) {
  .alinhar-responsivo {
    justify-content: start;
  }
}

.data-span {
  font-size: 0.8em;
}
</style>
