<template>
  <v-main>
    <Topbar @fecha-menu="fecharMenu($event)" />
    <div class="d-flex altura-menu">
      <Menu :fechaMenu="fechaMenu" />
      <v-container>
        <div class="box">
          <h1 class="text-center text-uppercase">Detalhes da consulta</h1>

          <v-row justify="center" class="mt-5">
            <v-expansion-panels
              accordion
              v-model="panel"
              aria-expanded="true"
              v-if="itensPesquisa.length"
            >
              <v-expansion-panel
                @click="
                  abrePainelConsultasConcluidas = !abrePainelConsultasConcluidas
                "
              >
                <v-expansion-panel-header class="panel-consultas">
                  <span class="marcador-concluido"></span>
                  Consultas concluídas
                  <template v-slot:actions>
                    <v-icon
                      small
                      v-if="abrePainelConsultasConcluidas"
                      color="grey"
                    >
                      fa-plus
                    </v-icon>
                    <v-icon small v-else color="grey">
                      fa-minus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-container>
                    <v-row>
                      <v-col
                        lg="4"
                        md="6"
                        sm="6"
                        class="pt-5 col-xs-12"
                        v-for="arq in itensPesquisa"
                        :key="'arq' + arq.id"
                      >
                        <CardArquivo
                          :idSolicitacao="idSolicitacao"
                          :arquivo="arq"
                          v-on:ver-mais="verMais"
                        />
                      </v-col>
                    </v-row>
                  </v-container>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>

            <v-expansion-panels
              v-if="itensPesquisaSemArquivo.length > 0"
              v-model="panel1"
              aria-expanded="true"
              class="mt-5"
            >
              <v-expansion-panel
                @click="
                  abrePainelConsultasSemResultado = !abrePainelConsultasSemResultado
                "
              >
                <v-expansion-panel-header class="panel-consultas">
                  <span class="marcador-sem-resultado"></span>
                  Consultas sem resultado
                  <template v-slot:actions>
                    <v-icon
                      v-if="abrePainelConsultasSemResultado"
                      small
                      color="grey"
                    >
                      fa-plus
                    </v-icon>
                    <v-icon v-else small color="grey">
                      fa-minus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-container>
                    <v-row>
                      <v-col lg="4" md="6" sm="6" class="pt-5 col-xs-12">
                        <CardSemArquivo
                          :itensPesquisa="itensPesquisaSemArquivo"
                          v-on:ver-mais="verMais"
                        />
                      </v-col>
                    </v-row>
                  </v-container>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
            <v-container
              v-if="
                itensPesquisaSemArquivo.length == 0 && itensPesquisa.length == 0
              "
            >
              <v-row class="box-consulta-em-andamento">
                <img
                  class="balao-consulta-em-andamento img-responsive"
                  src="../../assets/img/balao.png"
                />
                <div class="text-center">
                  <h3 class="consulta-em-andamento">
                    Sua consulta ainda está em andamento.
                  </h3>
                  <p>Em breve você poderá acompanhar os detalhes por aqui.</p>
                  <v-btn color="primary" outlined to="/minhas-pesquisas"
                    >Voltar</v-btn
                  >
                </div>
              </v-row>
            </v-container>
          </v-row>
        </div>
      </v-container>
      <ModalVerMais
        :documento="documento"
        :ativo="modalVerMais"
        v-on:fechar="modalVerMais = false"
      />
    </div>
  </v-main>
</template>

<script>
import Topbar from '@/components/Topbar';
import Menu from '@/components/Menu';
import CardArquivo from './components/CardArquivo';
import CardSemArquivo from './components/CardSemArquivo';
import ModalVerMais from './components/ModalVerMais';
import apiArquivo from '@/services/arquivoApi.js';
import apiTipoItemPesquisa from '@/services/tipoItemPesquisaApi.js';

export default {
  name: 'DetalhesConsulta',
  props: { idSolicitacao: { type: Number, default: 0 } },
  components: {
    Topbar,
    Menu,
    CardArquivo,
    CardSemArquivo,
    ModalVerMais,
  },
  data: () => ({
    abrePainelConsultasConcluidas: false,
    abrePainelConsultasSemResultado: false,
    panel: 0,
    panel1: 0,
    fechaMenu: false,
    modalVerMais: false,
    documento: [],
    itensPesquisa: [],
    itensPesquisaSemArquivo: [],
  }),
  methods: {
    fecharMenu(fechaMenu) {
      this.fechaMenu = fechaMenu;
    },
    verMais(documento) {
      this.documento = documento;
      this.modalVerMais = true;
    },
  },
  mounted() {
    const vm = this;
    apiArquivo.buscarArquivosSolicitacao(vm.idSolicitacao).then((response) => {
      vm.itensPesquisa = response.data;
    });
    apiTipoItemPesquisa.buscarSemArquivo(vm.idSolicitacao).then((response) => {
      vm.itensPesquisaSemArquivo = response.data;
    });
  },
};
</script>

<style scoped>
h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
}
label {
  font-weight: bold;
}
.col {
  padding: 0.25rem;
}
.box {
  box-shadow: 0px 1px 6px 0px #00000029;
  margin-bottom: 0.5rem;
}

.box-consulta-header {
  background-color: #1268b3;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
  text-align: center;
  padding: 10px 0;
}

.box-consulta-header h4 {
  word-break: break-all;
}

.documentos-relacionados {
  text-transform: uppercase;
  color: #676767;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

ul li:before {
  content: '- ';
}

.panel-consultas {
  text-transform: uppercase;
  background-color: #f8f8f8;
  color: #000;
  font-weight: bold;
  font-size: 1.25em;
}

.marcador-sem-resultado {
  height: 15px;
  max-width: 15px;
  background-color: #ff9800;
  border-radius: 50%;
  margin-right: 10px;
}

.marcador-concluido {
  height: 15px;
  max-width: 15px;
  background-color: #4caf50;
  border-radius: 50%;
  margin-right: 10px;
}

.consulta-em-andamento {
  font-size: 1.75em;
  color: #006a98;
}

.box-consulta-em-andamento {
  justify-content: center;
  margin: 53px 300px 143px 300px;
  box-shadow: 0px 1px 6px 0px #00000024;
  padding: 36px;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1080px) {
  .box-consulta-em-andamento {
    margin: 0px;
  }
}

@media screen and (min-width: 1081px) {
  .box-consulta-em-andamento {
    margin: 64px 20px 143px 20px;
  }
}
</style>
