<template>
  <v-row>
    <v-col xl="2" lg="3" md="6" sm="6" cols="12" class="padding-lg">
      <Calendario
        v-model="filtro.dataInicio"
        @change="atualizarLista(filtro)"
        @update:value="filtro.dataInicio = $event"
        required
        label="Data de Início"
      />
    </v-col>
    <v-col xl="2" lg="3" md="6" sm="6" cols="12" class="padding-lg">
      <Calendario
        v-model="filtro.dataFim"
        @change="atualizarLista(filtro)"
        @update:value="filtro.dataFim = $event"
        required
        label="Data de Fim"
      />
    </v-col>
    <v-col xl="3" lg="2" md="6" sm="12" cols="12" class="padding-lg">
      <span class="data-span">Estado:</span>
      <v-select
        v-model="estadoEscolhido"
        :items="estados"
        attach
        solo
        dense
        clearable
        label="UF"
        :loading="loading"
        @change="atualizarLista(filtro)"
        @click:clear="atualizarLista(filtro)"
      >
        <template slot="selection" slot-scope="data">
          {{ data.item.nome }} - {{ data.item.sigla }}
        </template>
        <template slot="item" slot-scope="data">
          {{ data.item.nome }} - {{ data.item.sigla }}
        </template>
      </v-select>
    </v-col>
    <v-col xl="5" lg="4" md="6" sm="12" cols="12" class="padding-lg padding-md">
      <span class="data-span">Solicitante:</span>
      <v-autocomplete
        solo
        dense
        clearable
        label="Solicitante"
        hide-details="auto"
        v-model="filtro.solicitante"
        item-text="nome"
        item-value="login"
        :items="solicitantes"
        :loading="loading"
        @change="atualizarLista(filtro)"
        @click:clear="atualizarLista(filtro)"
      >
        <v-icon slot="prepend-inner" color="#898989" small>
          fa-search
        </v-icon>
      </v-autocomplete>
    </v-col>
  </v-row>
</template>

<script>
import apiSolicitacoes from "@/services/solicitacoesApi.js";
import Calendario from "@/components/Calendario.vue";
import Estados from "@/utils/Estados.js";
export default {
  name: "FiltroRelatorio",
  components: {
    Calendario,
  },
  props: {
    filtro: {
      type: Object,
      default: () => {
        return {
          dataInicio: new Date(new Date().getTime() - 2592000000),
          dataFim: new Date(),
          uf: null,
          solicitante: null,
          page: 1,
          qtdItens: 10,
        };
      },
    },
  },
  data() {
    return {
      estadoEscolhido: null,
      estados: Estados,
      loading: false,
      solicitantes: [],
    };
  },
  mounted() {
    this.buscarSolicitantes();
  },
  methods: {
    // API
    async buscarSolicitantes() {
      this.loading = true;
      await apiSolicitacoes
        .buscarSolicitantes()
        .then((resp) => {
          this.solicitantes = resp.data;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    atualizarLista(filtro) {
      if (this.estadoEscolhido != null)
        this.filtro.uf = this.estadoEscolhido.sigla;
      else this.filtro.uf = null;
      this.$emit("atualizaLista", filtro);
    },
  },
};
</script>

<style scoped>
.data-span {
  font-size: 0.8em;
}

@media screen and (max-width: 1904px) {
  .padding-lg {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 960px) {
  .padding-md {
    padding-top: 0px;
  }
}
</style>
