<template>
  <v-dialog v-model="show" max-width="1000px" persistent>
    <v-card>
      <v-card-title class="cabecalho-modal">
        <h3>{{ usuario.login ? "Editar Usuário" : "Adicionar Usuário" }}</h3>
      </v-card-title>
      <v-card-text>
        <p class="modal-texto" v-if="!usuario.login">
          Preencha os campos abaixo para adicionar um novo usuário.
        </p>
        <v-form ref="form">
          <v-row class="pt-5" v-if="!usuario.login">
            <v-col cols="12">
              <v-autocomplete
                solo
                label="Buscar por Usuário"
                hide-details="auto"
                :loading="loader.filtroADUsuario"
                v-model="usuarioSelecionado"
                item-text="nome"
                item-value="entry"
                :items="itemsUsuario"
                :search-input.sync="searchADUsuario"
                :no-data-text="
                  searchADUsuario != null && searchADUsuario.length > 0
                    ? 'Nenhum dado encontrado'
                    : 'Digite o nome do usuário desejado'
                "
              >
                <v-icon slot="prepend-inner" color="#898989" small>
                  fa-search
                </v-icon>
              </v-autocomplete>
            </v-col>
          </v-row>
          <v-row class="pt-5">
            <v-col class="pb-0" cols="12" xl="6" lg="6" md="6" sm="12">
              <v-text-field
                disabled
                solo
                dense
                prepend-inner-icon="fa-key"
                :error="error.state"
                :error-messages="error.msg"
                :label="novoUsuario.login"
              ></v-text-field>
            </v-col>
            <v-col class="pb-0" cols="12" xl="6" lg="6" md="6" sm="12">
              <v-text-field
                v-model="novoUsuario.nome"
                solo
                dense
                prepend-inner-icon="fa-user"
                label="Nome"
                :rules="nameRules"
                required
                disabled
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row class="mt-0">
            <v-col class="pb-0" cols="12" xl="6" lg="6" md="6" sm="12">
              <v-text-field
                v-model="novoUsuario.email"
                label="Email"
                solo
                dense
                prepend-inner-icon="fa-envelope"
                required
                :rules="emailRules"
              ></v-text-field>
            </v-col>
            <v-col class="pb-0" cols="12" xl="6" lg="6" md="6" sm="12">
              <v-text-field
                v-model="novoUsuario.telefone"
                label="Telefone"
                v-mask="'(##) #####-####'"
                solo
                dense
                prepend-inner-icon="fa-phone-alt"
                :rules="telefoneRules"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row class="mt-0">
            <v-col class="pb-0" cols="12" xl="6" lg="6" md="6" sm="12">
              <v-select
                v-model="novoUsuario.uf"
                :items="estados"
                menu-props="auto"
                solo
                dense
                label="UF"
                hide-details
                prepend-inner-icon="fa-map-marker-alt"
                single-line
                :rules="ufRules"
                required
              ></v-select>
            </v-col>
            <v-col class="pb-0" cols="12" xl="6" lg="6" md="6" sm="12">
              <v-select
                v-model="novoUsuario.perfil"
                :items="perfis"
                menu-props="auto"
                label="Perfil"
                solo
                dense
                hide-details
                prepend-inner-icon="fa-user-circle"
                single-line
                :rules="perfilRules"
                required
              ></v-select>
            </v-col>
          </v-row>
          <v-row class="mt-0">
            <v-col class="pb-0" cols="12" xl="6" lg="6" md="6" sm="12">
              <v-checkbox
                class="pt-4"
                v-model="novoUsuario.selecionarItens"
                label="Permitir selecionar itens."
              />
            </v-col>
            <v-col class="pb-0" cols="12" xl="6" lg="6" md="6" sm="12">
              <v-checkbox class="pt-4" v-model="novoUsuario.vip" label="VIP" />
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions class="d-fles justify-center">
        <v-btn min-width="160px" color="error" @click="$emit('hide')">
          Cancelar
        </v-btn>
        <v-btn
          min-width="160px"
          color="success"
          @click="adicionarUsuario()"
          v-if="!usuario.login"
        >
          Adicionar
        </v-btn>
        <v-btn
          min-width="160px"
          color="success"
          @click="editarUsuario()"
          v-else
        >
          Editar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Alerta from "@/utils/Alerta";
import apiUsuario from "@/services/usuarioApi";

var timer;

export default {
  name: "ModalAdmPerfilUsuario",
  props: {
    show: Boolean,
    novo: Boolean,
    usuario: Object,
    usuarios: Array,
  },
  data() {
    return {
      usuarioSelecionado: null,
      usuariosFiltro: [],
      searchADUsuario: "",
      error: { state: false },
      perfis: [
        {
          text: "Solicitante",
          value: "Solicitante",
        },
        {
          text: "Pesquisador",
          value: "Pesquisador",
        },
        {
          text: "Administrador",
          value: "Administrador",
        },
      ],
      estados: [
        "AC",
        "AL",
        "AP",
        "AM",
        "BA",
        "CE",
        "DF",
        "ES",
        "GO",
        "MA",
        "MT",
        "MS",
        "MG",
        "PA",
        "PB",
        "PR",
        "PE",
        "PI",
        "RJ",
        "RN",
        "RS",
        "RO",
        "RR",
        "SC",
        "SP",
        "SE",
        "TO",
      ],
      novoUsuario: {},
      nameRules: [
        (v) => !!v || "Nome é obrigatório",
        (v) =>
          (v && v.trim().length <= 255) || "Nome deve ter menos de 255 letras.",
      ],
      emailRules: [
        (v) => !!v || "E-mail é obrigatório",
        (v) => /.+@.+\..+/.test(v) || "E-mail deve ser válido.",
      ],
      perfilRules: [(v) => !!v || "Perfil é obrigatório"],
      ufRules: [(v) => !!v || "UF é obrigatório"],
      telefoneRules: [
        (v) =>
          new RegExp(
            "^(\\([0-9]{2,3}\\))(\\s)?([0-9]{4,5})(\\-||\\s)?([0-9]{4})$\\b"
          ).test(v) || "Telefone deve estar no formato (61) 99999-9999.",
      ],
      loader: {
        filtroADUsuario: false,
      },
    };
  },
  computed: {
    itemsUsuario() {
      return this.usuariosFiltro.map((entry) =>
        Object.assign({}, { entry }, { nome: entry.nome })
      );
    },
  },
  watch: {
    usuario(val) {
      if (val.login) {
        this.$refs.form ? this.$refs.form.resetValidation() : null;
        this.novoUsuario = Object.assign({}, val);
      } else {
        this.$refs.form ? this.$refs.form.resetValidation() : null;
        this.novoUsuario = Object.assign({});
      }
    },
    usuarioSelecionado(value) {
      if (value.login) {
        this.$refs.form ? this.$refs.form.resetValidation() : null;
        this.novoUsuario = Object.assign({}, this.usuarioSelecionado);
        if (this.usuarios.find((u) => u.login === this.novoUsuario.login)) {
          Alerta.erro(
            "Usuário já cadastrado. Verifique na lista e edite os dados."
          );
        }
      }
    },
    searchADUsuario(value) {
      const vm = this;
      if (value) {
        if (timer) {
          clearTimeout(timer);
          this.loader.filtroADUsuario = false;
        }
        timer = setTimeout(async () => {
          await vm.buscarUsuarioAD(value);
        }, 900);
      }
    },
  },
  methods: {
    editarUsuario() {
      if (this.$refs.form.validate()) {
        Alerta.warningConfirm(async (resposta) => {
          if (resposta) {
            await apiUsuario.updateUsuario(this.novoUsuario).then(() => {
              this.$emit("reload-data");
              this.$emit("hide");
              this.$refs.form.resetValidation();
            });
          }
        }, "Deseja salvar os dados do usuário?");
      }
    },
    adicionarUsuario() {
      if (this.$refs.form.validate()) {
        if (this.usuarios.find((u) => u.login === this.novoUsuario.login)) {
          Alerta.erro("Usuário já cadastrado.");
          return;
        } else {
          Alerta.warningConfirm(async (resposta) => {
            if (resposta) {
              await apiUsuario.updateUsuario(this.novoUsuario).then(() => {
                this.$emit("reload-data");
                this.$emit("hide");
                this.$refs.form.resetValidation();
              });
            }
          }, "Deseja salvar os dados do usuário?");
        }
      }
    },
    async buscarUsuarioAD(nome) {
      this.loader.filtroADUsuario = true;
      await apiUsuario
        .buscaUsuarioAD(nome)
        .then((res) => {
          this.usuariosFiltro = res.data;
        })
        .finally(() => {
          this.loader.filtroADUsuario = false;
        });
    },
  },
};
</script>

<style>
.v-icon {
  font-size: 15px !important;
}

.modal-texto {
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
}
</style>
