<template>
  <v-main>
    <Topbar @fecha-menu="fecharMenu($event)" />
    <div class="d-flex altura-menu">
      <Menu :fechaMenu="fechaMenu" />
      <v-container>
        <div class="box">
          <h1 class="text-center text-uppercase">Perfis de Usuários</h1>
          <v-container class="mt-5">
            <div class="justify-end d-flex">
              <v-btn color="success" @click="abrirModalUsuario({})">
                Adicionar usuário
              </v-btn>
            </div>
          </v-container>
          <v-container>
            <v-text-field
              solo
              dense
              v-model="search"
              append-icon="mdi-magnify"
              label="Buscar"
              single-line
              hide-details
              class="mb-5"
            ></v-text-field>
            <v-data-table
              :headers="headers"
              :items="usuarios"
              :items-per-page="10"
              :loading="loading"
              :search="search"
              class="elevation-2"
              :footer-props="{
                itemsPerPageText: 'Linhas por página',
              }"
            >
              <template v-slot:[`item.ultimoAcesso`]="{ item }">
                <span>{{
                  item.ultimoAcesso
                    ? new Date(item.ultimoAcesso).toLocaleString()
                    : ""
                }}</span>
              </template>
              <template v-slot:[`item.vip`]="{ item }">
                <span>{{ item.vip ? "Sim" : "Não" }}</span>
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <v-icon @click="abrirModalUsuario(item)" small color="success">
                  fa-edit
                </v-icon>
              </template>
            </v-data-table>
          </v-container>
        </div>
      </v-container>
    </div>
    <ModalAdmPerfilUsuario
      :usuario="usuario"
      :usuarios="usuarios"
      @hide="showModalEditar = false"
      @reload-data="listarUsuarios"
      :show="showModalEditar"
    />
  </v-main>
</template>

<script>
import Topbar from "@/components/Topbar";
import Menu from "@/components/Menu";
import ModalAdmPerfilUsuario from "./components/ModalAdmPerfilUsuario.vue";
import apiUsuario from "@/services/usuarioApi";

export default {
  components: {
    Topbar,
    Menu,
    ModalAdmPerfilUsuario,
  },
  data() {
    return {
      loading: false,
      fechaMenu: false,
      showModalEditar: false,
      search: "",
      usuario: {
        login: "",
        nome: "",
        email: "",
        telefone: "",
        perfil: "",
      },
      headers: [
        {
          text: "Login",
          align: "start",
          sortable: true,
          value: "login",
        },
        {
          text: "Nome",
          align: "start",
          sortable: true,
          value: "nome",
        },
        {
          text: "Email",
          align: "start",
          sortable: true,
          value: "email",
        },
        {
          text: "Telefone",
          align: "center",
          sortable: true,
          value: "telefone",
        },
        {
          text: "UF",
          align: "center",
          sortable: true,
          value: "uf",
        },
        {
          text: "Perfil",
          align: "center",
          sortable: true,
          value: "perfil",
        },
        {
          text: "Último Acesso",
          align: "center",
          sortable: true,
          value: "ultimoAcesso",
        },
        {
          text: "VIP",
          align: "center",
          sortable: true,
          value: "vip",
        },
        {
          text: "Ações",
          align: "center",
          sortable: false,
          value: "action",
        },
      ],
      usuarios: [],
    };
  },
  methods: {
    // API
    listarUsuarios() {
      this.loading = true;
      apiUsuario
        .buscaUsuarios()
        .then((resp) => {
          this.usuarios = resp.data;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    // AÇÕES
    fecharMenu(fechaMenu) {
      this.fechaMenu = fechaMenu;
    },
    abrirModalUsuario(item) {
      this.usuario = Object.assign({}, item);
      this.showModalEditar = true;
    },
  },
  mounted() {
    this.listarUsuarios();
  },
};
</script>

<style>
.fa-sort-up:before {
  content: "\f062" !important;
}
</style>
