<template>
  <v-main>
    <Topbar @fecha-menu="fecharMenu($event)" />
    <div class="d-flex altura-menu">
      <Menu :fechaMenu="fechaMenu" />

      <v-container>
        <div class="box">
          <h1 class="text-center text-uppercase">Relatórios</h1>
          <h4 class="text-center font-weight-regular">
            Aqui você gera um relatório das pesquisas concluídas.
          </h4>
          <v-row class="mx-0 mt-5">
            <v-col xl="10" lg="12" md="12" sm="12" cols="12" class="pb-0">
              <FiltroRelatorio
                :filtro="filtro"
                v-on:atualizaLista="buscarListaRelatorio(filtro)"
              />
            </v-col>
            <v-col
              xl="2"
              lg="12"
              md="12"
              sm="12"
              cols="12"
              class="d-flex align-center justify-end"
            >
              <v-btn
                color="success botao-baixar-relatorio"
                @click="baixarRelatorio(filtro)"
              >
                <v-icon class="pr-3">
                  fa-file-excel
                </v-icon>
                Baixar relatório
              </v-btn>
            </v-col>
          </v-row>
          <v-divider></v-divider>
          <v-container v-if="Object.keys(mapPesquisas).length > 0">
              <v-row>
          <v-col class="d-flex flex-start">
            <p class="pr-5 mb-0">Total de itens: {{ totalItens }}</p>
          </v-col>
            <v-col class="itens-por-pagina">
              <p class="pr-5 mb-0">Itens por página:</p>
              <v-select
                v-model="filtro.qtdItens"
                :items="listaQtdItens"
                label="Itens por página"
                @change="buscarListaRelatorio(filtro)"
                class="largura-itens-por-pagina"
                solo
                dense
                hide-details="true"
              >
              </v-select>
            </v-col>
              </v-row>
            <div
              class="mt-3 mb-4"
              v-for="(chave, index) in Object.keys(mapPesquisas)"
              :key="index"
            >
              <v-row>
                <h3 class="mt-3 pl-3 font-weight-regular">
                  <b>Concluída em:</b>
                  {{ new Date(chave + ' 00:00').toLocaleDateString('pt-BR') }}
                </h3>
              </v-row>
              <v-row
                class="box-card align-center"
                dense
                v-for="p in mapPesquisas[chave]"
                :key="p.id"
              >
                <v-col cols="12" sm="6" md="6" lg="2" xl="2">
                  <b class="subtitulo-consulta">CNPJ:</b><br />
                  {{ p.cnpj }}
                </v-col>
                <v-col cols="12" sm="6" md="6" lg="3" xl="3">
                  <b class="subtitulo-consulta">Empresa:</b><br />
                  {{ p.empresa }}
                </v-col>
                <v-col cols="12" sm="6" md="6" lg="2" xl="2">
                  <b class="subtitulo-consulta">Solicitante:</b><br />{{
                    p.solicitadoPor.nome
                  }}
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  md="6"
                  lg="2"
                  xl="2"
                  class="d-flex alinhar-start"
                >
                  <div>
                    <b class="subtitulo-consulta">Atendente:</b><br />
                    {{ p.emAtendimentoPor.nome }}
                  </div>
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  md="6"
                  lg="1"
                  xl="1"
                  class="d-flex alinhar-responsivo"
                >
                  <div>
                    <b class="subtitulo-consulta">UF:</b><br />
                    {{ p.solicitadoPor.uf }}
                  </div>
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  md="6"
                  lg="2"
                  xl="2"
                  class="d-flex alinhar-responsivo"
                >
                  <div>
                    <b class="subtitulo-consulta">Data Solicitação:</b><br />
                    {{
                      new Date(p.dataCriacao + ' 00:00').toLocaleDateString(
                        'pt-BR'
                      )
                    }}
                  </div>
                </v-col>
              </v-row>
            </div>

            <v-row class="mt-3">
              <div class="paginacao">
                <v-pagination
                  v-model="filtro.page"
                  :length="maxPages"
                  circle
                  :total-visible="7"
                  @input="buscarListaRelatorio(filtro)"
                  class="pl-10 pr-10"
                ></v-pagination>
              </div>
            </v-row>
          </v-container>
          <v-container v-else>
            <v-alert text dense type="error">
              <h4>
                Não foram encontradas pesquisas de acordo com esse filtro.
              </h4>
            </v-alert>
          </v-container>
        </div>
      </v-container>
    </div>
  </v-main>
</template>

<script>
import Topbar from '@/components/Topbar';
import Menu from '@/components/Menu';
import FiltroRelatorio from './components/FiltroRelatorio';
import apiSolicitacoes from '@/services/solicitacoesApi';

import Download from '@/utils/Download';
export default {
  name: 'Relatorios',
  components: {
    Topbar,
    Menu,
    FiltroRelatorio,
  },
  data() {
    return {
      fechaMenu: false,
      filtro: {
        dataInicio: new Date(new Date().getTime() - 2592000000),
        dataFim: new Date(),
        uf: null,
        solicitante: null,
        page: 1,
        qtdItens: 10,
      },
      listaQtdItens: [5, 10, 25, 50, 100, 150, 200],
      mapPesquisas: [],
      datasPesquisas: [],
      maxPages: 0,
      totalItens: 0
    };
  },
  mounted() {
    this.buscarListaRelatorio(this.filtro);
  },
  methods: {
    baixarRelatorio(filtro) {
      apiSolicitacoes.baixarRelatorio(filtro).then((response) => {
        let filename = 'relatorio';
        Download.getXLSX(response, filename);
      });
    },
    buscarListaRelatorio(filtro) {
      const vm = this;
      apiSolicitacoes.buscarListaRelatorio(filtro).then((res) => {
        vm.mapPesquisas = vm.getMapDatas(res.data.result);
        vm.maxPages = res.data.maxPages;
        vm.totalItens = res.data.totalItens;
      });
    },
    getMapDatas(pesquisas) {
      let map = {};
      for (let i = 0; i < pesquisas.length; i++) {
        let obj = pesquisas[i];
        let key = obj.dataAtualizacao;
        if (map[key] == null) map[key] = [pesquisas[i]];
        else map[key].push(pesquisas[i]);
      }
      return map;
    },
  },
};
</script>

<style scoped>
.box-card {
  box-shadow: 0px 0px 4px 2px #8080802e;
  padding: 10px;
  margin-top: 1rem;
}

.alinhar-responsivo {
  justify-content: center;
}

.botao-baixar-relatorio {
  width: 100%;
  margin-top: 10px;
}
@media (min-width: 1264px) and (max-width: 1904px) {
  .botao-baixar-relatorio {
    width: 100%;
    max-width: 200px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 12px;
  }
}
@media screen and (max-width: 1264px) {
  .botao-baixar-relatorio {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 960px) {
  .v-slide-group__content {
    flex-direction: column !important;
  }
  .tab-responsivo {
    max-width: 100%;
  }
  .tab-altura {
    height: 100px !important;
  }
  .tab-altura1 {
    height: 100%;
  }
  .botao-baixar-relatorio {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 0px;
  }
}

.paginacao {
  display: flex;
  justify-content: center;
  width: 100%;
}

.largura-itens-por-pagina {
  max-width: 100px;
}

.itens-por-pagina {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .itens-por-pagina {
    justify-content: start;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1264px) {
  .alinhar-responsivo {
    justify-content: start;
  }
}

@media screen and (max-width: 600px) {
  .alinhar-responsivo {
    justify-content: start;
  }
}
</style>
