<template>
  <v-main>
    <Topbar @fecha-menu="fecharMenu($event)" />
    <div class="d-flex altura-menu">
      <Menu :fechaMenu="fechaMenu" />
      <v-container class="padding-formulario">
        <div class="box">
          <h1 class="text-center text-uppercase">Criar Pesquisa</h1>
          <h4 class="text-center font-weight-regular">Informe o CNPJ</h4>
          <v-card class="mt-8">
            <v-container class="padding-formulario">
              <v-form ref="form">
                <v-row>
                  <v-col xl="6" lg="6" md="6" sm="12" xs="12" class="col-xs-12">
                    <v-text-field
                      label="CNPJ"
                      v-mask="mask.cnpj"
                      :rules="cnpjRules"
                      v-model="solicitacao.cnpj"
                      required
                      hide-details="auto"
                      solo
                    >
                      <v-icon slot="prepend-inner" color="#898989" small
                        >fa-search</v-icon
                      >
                    </v-text-field>
                  </v-col>
                  <v-col xl="6" lg="6" md="6" sm="12" class="col-xs-12">
                    <v-text-field
                      label="Nome da Empresa"
                      :rules="nomeEmpresaRules"
                      hide-details="auto"
                      v-model="solicitacao.nomeEmpresa"
                      solo
                    >
                      <v-icon slot="prepend-inner" color="#898989" small
                        >fa-briefcase</v-icon
                      >
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-form>
              <div class="box-checkbox">
                <div
                  class="mt-4 d-flex justify-space-between align-center selecionar-todos"
                >
                  <h4 class="font-weight-regular">
                    Selecione os documentos desejados:
                  </h4>
                  <v-checkbox
                    label="Selecionar todas as opções"
                    v-model="selectAll"
                    :disabled="!selecionarItens"
                    hide-details="auto"
                    class="mt-0 pt-0"
                    @change="selecionaTodos(selectAll)"
                  ></v-checkbox>
                </div>
                <v-divider class="mt-2"></v-divider>
                <v-row class="padding-dos-kits">
                  <span v-if="kits.length == 0 && loading == false"
                    >Não há tipos de kits no banco de dados</span
                  >
                  <v-col
                    v-for="kit in kits"
                    :key="kit.id"
                    xl="6"
                    lg="6"
                    md="6"
                    sm="12"
                    xs="12"
                    class="col-xs-12 pt-0 pb-0"
                  >
                    <div class="d-flex">
                      <v-checkbox
                        :disabled="!selecionarItens"
                        v-model="checkbox"
                        multiple
                        :value="kit"
                        :label="kit.titulo"
                        hide-details="true"
                        class="mt-1"
                      >
                      </v-checkbox>
                      <v-tooltip top v-if="kit.descricao">
                        <template v-slot:activator="{ on, attrs }">
                          <v-icon
                            color="grey"
                            dark
                            v-bind="attrs"
                            v-on="on"
                            class="ml-2"
                          >
                            fa-question-circle
                          </v-icon>
                        </template>
                        <span>{{ kit.descricao }}</span>
                      </v-tooltip>
                    </div>
                  </v-col>
                </v-row>
                <v-row>
                  <v-divider></v-divider>
                </v-row>
                <v-row>
                  <v-checkbox
                    label="Pesquisa urgente"
                    hide-details="auto"
                    class="mt-3 pt-0 subtitulo-consulta"
                    v-model="urgente"
                  ></v-checkbox>
                </v-row>
                <v-form ref="formUrgente" class="mt-3">
                  <v-row v-if="urgente">
                    <v-textarea
                      solo
                      no-resize
                      label="Observação:"
                      class="mt-2"
                      v-model="observacao"
                      rows="3"
                      :rules="observacaoRules"
                      :required="urgente"
                    >
                    </v-textarea>
                  </v-row>
                </v-form>
              </div>
              <v-btn
                color="primary"
                block
                large
                class="mt-3"
                @click="createSolicitacao(solicitacao)"
                >Criar pesquisa</v-btn
              >
            </v-container>
          </v-card>
        </div>
      </v-container>
    </div>
  </v-main>
</template>

<script>
import Topbar from "../components/Topbar";
import Menu from "../components/Menu";
import apiTipoItemPesquisa from "@/services/tipoItemPesquisaApi.js";
import apiSolicitacoes from "@/services/solicitacoesApi.js";
import Alerta from "@/utils/Alerta.js";
import { checarCNPJ } from "@/services/utils.js";

export default {
  name: "CriarPesquisa",
  components: {
    Topbar,
    Menu,
  },
  data: () => ({
    fechaMenu: false,
    cnpjRules: [
      (v) => {
        if (v == null) {
          return "CNPJ é obrigatório";
        } else if (v.length == 18) {
          return checarCNPJ(v) || "CNPJ inválido.";
        } else {
          return "CNPJ inválido";
        }
      },
    ],
    observacaoRules: [(v) => !!v || "Campo observação é obrigatório"],
    nomeEmpresaRules: [
      (v) =>
        v.length <= 255 ||
        "O nome da empresa deve ser menor que 255 caracteres",
    ],
    mask: {
      cnpj: "##.###.###/####-##",
    },
    solicitacao: {
      cnpj: "",
      nomeEmpresa: "",
      uf: "",
    },
    selecionarItens: false,
    selectAll: true,
    files: [],
    checkbox: [],
    kits: [],
    urgente: false,
    observacao: null,
    alert: {
      show: false,
      msg: "",
      type: "error",
    },
    loading: false,
    campoInvalido: false,
  }),
  methods: {
    fecharMenu(fechaMenu) {
      this.fechaMenu = fechaMenu;
    },
    limparImput() {
      this.solicitacao.cnpj = "";
      this.solicitacao.nomeEmpresa = "";
      this.campoInvalido = true;
      this.urgente = false;
      this.observacao = null;
      this.$refs.form.resetValidation();
    },
    selecionaTodos(selectAll) {
      let vm = this;
      if (selectAll) vm.checkbox = vm.kits;
      else vm.checkbox = {};
    },
    loadTipoItems() {
      let vm = this;
      vm.loading = true;
      apiTipoItemPesquisa
        .buscaTiposItens()
        .then((response) => {
          console.log(response);
          vm.kits = response.data;
          this.selecionaTodos(true);
        })
        .catch(() => {})
        .finally(() => {
          vm.loading = false;
        });
    },
    createSolicitacao(solicitacao) {
      if (
        this.$refs.form.validate() &&
        (this.urgente ? this.$refs.formUrgente.validate() : true) &&
        this.checkbox.length > 0
      ) {
        let vm = this;
        let obj = {
          empresasCNPJ: new Array(solicitacao),
          listaItems: vm.checkbox,
          urgente: this.urgente,
          observacao: this.observacao,
        };
        apiSolicitacoes.criaSolicitacaoPorEmpresa(obj).then(() => {
          vm.limparImput();
          Alerta.sucesso(`Sua solicitação de pesquisa para o
                   CNPJ <b>${vm.solicitacao.cnpj}</b> foi enviada.
                  <br><br>
                  Você pode acompanhar o progresso em <i>"minhas pesquisas"</i>.`);
        });
      } else {
        this.campoInvalido = true;
      }
    },
  },
  mounted() {
    this.loadTipoItems();
    const user = JSON.parse(localStorage.getItem("user"));
    this.selecionarItens = user.selecionarItens;
  },
};
</script>

<style scoped>
.box-checkbox {
  background-color: #fbfbfb;
  padding: 30px;
  border-radius: 10px;
}

.padding-dos-kits {
  padding: 20px;
}

.padding-formulario {
  padding: 27px;
}

@media screen and (max-width: 800px) {
  .padding-dos-kits {
    padding: 20px 0px;
  }
  .box-checkbox {
    padding: 0px;
  }
  .selecionar-todos {
    flex-wrap: wrap;
  }
  .padding-formulario {
    padding: 5px;
  }
  .box {
    padding: 15px;
  }
  .selecionar-todos h4 {
    padding-bottom: 15px;
    padding-top: 5px;
  }
}

@media screen and (max-width: 600px) {
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
</style>
