<template>
  <v-main>
    <div class="d-flex altura-menu">
      <v-container class="pa-7">
        <v-row class="d-flex align-center justify-center">
          <v-col class="col-xs-12 robo" xl="6" lg="6" md="6" sm="12" xs="12">
            <img class="img-robo" src="../assets/img/pagina-de-erro.png" />
          </v-col>
          <v-col class="d-flex mt-5">
            <div class="justify-center flex-column texto-robo">
              <h1 class="pb-3">Alguma coisa deu errado!</h1>
              <p>
                Desculpe, a página que você está procurando não foi encontrada
                por aqui.
                <br />
                Tente novamente mais tarde ou entre em contato com o suporte.
              </p>
              <div class="botao d-flex pt-5">
                <v-btn color="primary" width="200px" @click="voltar()">
                  Voltar
                </v-btn>
              </div>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </v-main>
</template>

<script>
export default {
  name: "Erro",
  data: () => ({}),
  methods: {
    voltar() {
      this.$router.go(-1);
    },
  },
  created() {},
};
</script>

<style scoped>
.border {
  border-bottom: solid 1px grey;
}

.robo {
  display: flex;
  justify-content: flex-end;
  margin-top: 71px;
}

.img-robo {
  max-width: 60%;
}

@media screen and (max-width: 500px) {
  .img-robo {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 959px) {
  .robo {
    justify-content: center;
  }
  .botao {
    justify-content: center;
  }
  .texto-robo {
    text-align: center;
    width: 100%;
  }
}
</style>
