<template>
  <v-container fluid>
    <v-row class="topbar">
      <v-col>
        <img
          src="../assets/logo-martinelli-topbar.png"
          style="max-width: 180px"
          class="ma-3"
        />
      </v-col>
      <v-col class="title">
        <h1>
          <v-icon class="mr-4" color="white">fa-stethoscope</v-icon>Health Check
        </h1>
      </v-col>
    </v-row>
    <v-row>
      <v-container v-if="!loading">
        <v-row>
          <v-col cols="12">
            <v-card class="m-3">
              <v-card-title>
                <v-icon class="mr-4" :color="health.geralStatus.status === 'OK'?'green': 'red'">fa-circle</v-icon>
                Estado Geral <v-icon class="ml-4">fa-clipboard-list</v-icon>
              </v-card-title>
              <v-card-text>
                <ul>
                  <li><strong>Status:</strong> {{health.geralStatus.status}}</li>
                  <li>{{health.geralStatus.message}}</li>
                </ul>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-row>

        <v-col cols="12" sm="12" md="6">
          <v-card class="m-3">
            <v-card-title>
              <v-icon class="mr-4" :color="health.adTest.status === 'OK'?'green': 'red'">fa-circle</v-icon> AD
              <v-icon class="ml-4">fa-user</v-icon>
            </v-card-title>
            <v-card-text>
              <ul>
                <li><strong>Status:</strong> {{health.adTest.status}}</li>
                <li>{{health.adTest.message}}</li>
              </ul>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" sm="12" md="6">
          <v-card class="m-3">
            <v-card-title>
              <v-icon class="mr-4" :color="health.dbTest.status === 'OK'?'green': 'red'">fa-circle</v-icon> Banco de
              dados. <v-icon class="ml-4">fa-database</v-icon>
            </v-card-title>
            <v-card-text>
              <ul>
                <li><strong>Status:</strong> {{health.dbTest.status}}</li>
                <li>{{health.dbTest.message}}</li>
              </ul>
            </v-card-text>
          </v-card>
        </v-col>
        </v-row>
      </v-container>
    </v-row>
  </v-container>
</template>

<script>
import Loader from '@/utils/Loader';
import axios from 'axios';
import {ping} from '@/services/api';

export default {
    data() {
        return{
            health: {
                geralStatus: {
                    status: ''
                },
                adTest: {
                    status: ''
                },
                dbTest: {
                    status: ''
                }
            },
            loading: true
        }
    },
    methods: {
        async buscaHealth(){
            Loader.on();
            if(!localStorage.getItem('api-url')){
                await ping(); 
            }
            await axios.get(`${localStorage.getItem('api-url')}/health`)
            .then((res) => {
                this.health = res.data;
            }).catch(() => {
                this.health = {
                geralStatus: {
                    status: 'FAIL',
                    message: 'Sem resposta da API'
                },
                adTest: {
                    status: 'FAIL',
                    message: 'Sem resposta da API'
                },
                dbTest: {
                    status: 'FAIL',
                    message: 'Sem resposta da API'
                }
            };})
            .finally(()=>{
                this.loading = false;
                Loader.off();
            });
        }
    },
    mounted(){
        this.buscaHealth();
    }
};
</script>

<style scoped>
.topbar {
  background-color: #2e3235 !important;
}
.title {
  color: white;
  vertical-align: middle;
  display: flex;
  margin: auto;
}
.fa-stethoscope:before {
  content: "\f0f1";
  font-size: 2em;
}
.fa-clipboard-list:before {
  content: "\f46d";
  font-size: 1.5em;
}
.fa-user:before {
  content: "\f007";
  font-size: 1.5em;
}
.fa-database:before {
  content: "\f1c0";
  font-size: 1.5em;
}
</style>