<template>
  <v-main>
    <Topbar @fecha-menu="fecharMenu($event)" />
    <div class="d-flex altura-menu">
      <Menu :fechaMenu="fechaMenu" />
      <v-container>
        <div class="box">
          <h1 class="text-center text-uppercase">Histórico</h1>
          <h4 class="text-center font-weight-regular mb-7">
            Aqui você encontra as suas consultas em aberto
          </h4>
          <v-container>
            <v-row>
              <v-col cols>
                <calendario></calendario>
              </v-col>
              <v-col cols>
                <calendario></calendario>
              </v-col>
              <v-col cols>
                <v-select
                  :items="cnpj"
                  label="CNPJ"
                  solo
                  dense
                  hide-details="auto"
                ></v-select>
              </v-col>
              <v-col cols>
                <v-select
                  :items="empresa"
                  label="Empresa"
                  solo
                  dense
                  hide-details="auto"
                ></v-select>
              </v-col>
              <v-col cols>
                <v-select
                  :items="documento"
                  label="Documento"
                  solo
                  dense
                  hide-details="auto"
                ></v-select>
              </v-col>
            </v-row>
            <v-row class="mt-0">
              <v-col>
                <v-text-field label="CNPJ" hide-details="auto" solo dense>
                  <v-icon slot="prepend-inner" color="#898989" small>
                    fa-search
                  </v-icon>
                </v-text-field>
              </v-col>
            </v-row>
            <v-divider class="mt-4"></v-divider>

            <h3 class="mt-4">Consulta 18/01/2021</h3>
            <div
              class="box mt-3"
              v-for="historico in historicos"
              :key="historico.hex"
            >
              <v-row class=" align-center">
                <v-col><b>CNPJ:</b> {{ historico.CNPJ }}</v-col>
                <v-col><b>Empresa:</b> {{ historico.Empresa }}</v-col>
                <v-col>
                  <v-progress-linear :value="knowledge" height="20" readonly>
                    <strong>{{ Math.ceil(knowledge) }}%</strong>
                  </v-progress-linear>
                </v-col>
                <v-col class="justify-center d-flex">
                  <v-btn outlined color="primary">Ver detalhes</v-btn>
                </v-col>
              </v-row>
            </div>
          </v-container>
        </div>
      </v-container>
    </div>
  </v-main>
</template>

<script>
import Calendario from "../components/Calendario";
import Topbar from "../components/Topbar";
import Menu from "../components/Menu";
export default {
  name: "Historico",
  components: {
    Calendario,
    Topbar,
    Menu,
  },
  props: {
    selectedCallback: Function,
    title: String,
  },
  methods: {
    fecharMenu(fechaMenu) {
      this.fechaMenu = fechaMenu;
    },
    fileSelected(e) {
      if (this.selectedCallback) {
        if (e.target.files[0]) {
          this.selectedCallback(e.target.files[0]);
        } else {
          this.selectedCallback(null);
        }
      }
    },
  },
  data: () => ({
    fechaMenu: false,
    historicos: [
      { CNPJ: "92.012.467/0001-70", Empresa: "Grazziotin S.A" },
      { CNPJ: "92.012.467/0001-70", Empresa: "Grazziotin S.A" },
      { CNPJ: "92.012.467/0001-70", Empresa: "Grazziotin S.A" },
      { CNPJ: "92.012.467/0001-70", Empresa: "Grazziotin S.A" },
      { CNPJ: "92.012.467/0001-70", Empresa: "Grazziotin S.A" },
      { CNPJ: "92.012.467/0001-70", Empresa: "Grazziotin S.A" },
    ],
    cnpj: [
      "92.012.467/0001-70",
      "91.012.467/0001-70",
      "90.012.467/0001-70",
      "89.012.467/0001-70",
    ],
    empresa: [
      "Grazziotin S.A",
      "GZT Comério e Importação",
      "Grato Agropecuária",
      "Cotriel - Cooperativa tritícola de Espumoso",
    ],
    documento: [
      "Comprot",
      "Recebimentos (2010 - 2020)",
      "Exportação e Importação (2012 - 2020)",
      "Balanço Patrimonial",
      "Dados Cartão CNPJ",
      "P&D (2013 - 2017)",
      "FINEP / ANCINE / Beneficiários Inovacred (2012 - 2020)",
      "Principais NCMs de cada CNAE",
    ],
    knowledge: 33,
  }),
};
</script>

<style scoped>
.border {
  border-bottom: solid 1px grey;
}
</style>
