<template>
  <section class="background-login">
    <v-card class="card-login pa-5">
      <div class="justify-center d-flex pb-3">
        <img
          src="../assets/img/logo-nucleo-de-inteligencia.png"
          alt="logo núcleo de inteligência"
          class="img-responsive"
        />
      </div>
      <v-container class="align-start formulario-login">
        <v-form @submit.prevent="autenticar">
          <p class="text-left mb-1">Login:</p>

          <v-text-field
            label="Digite seu login"
            solo
            class="mb-2"
            required
            id="usuario"
            type="text"
            hide-details="auto"
            v-model="login.user"
          >
            <v-icon slot="prepend-inner" color="#898989" small>fa-user</v-icon>
          </v-text-field>

          <p class="text-left mb-1">Senha:</p>

          <v-text-field
            required
            id="senha"
            label="Digite sua senha"
            solo
            class="mb-4"
            type="password"
            hide-details="auto"
            v-model="login.password"
          >
            <v-icon slot="prepend-inner" color="#898989" small>fa-key</v-icon>
          </v-text-field>

          <v-btn
            color="#1268B3"
            elevation="1"
            class="white--text botao"
            width="100%"
            type="submit"
            >Entrar</v-btn
          >
        </v-form>
      </v-container>
      <div class="justify-center d-flex pt-5">
        <img
          src="../assets/img/logo-martinelli-login.png"
          alt="Logo Martinelli"
          class="img-responsive"
        />
      </div>
    </v-card>
  </section>
</template>

<script>
import AuthApi from "@/services/authApi.js";
import usuarioApi from '@/services/usuarioApi';
import Alerta from "@/utils/Alerta.js";
import Loader from "@/utils/Loader.js";
import { ping } from "@/services/api.js";

export default {
  name: "Login",
  data() {
    return {
      login: {
        user: "",
        password: "",
      },
      estados: {
        '': '',
        AC: "AC",
        AL: "AL",
        AP: "AP",
        AM: "AM",
        BA: "BA",
        CE: "CE",
        DF: "DF",
        ES: "ES",
        GO: "GO",
        MA: "MA",
        MT: "MT",
        MS: "MS",
        MG: "MG",
        PA: "PA",
        PB: "PB",
        PR: "PR",
        PE: "PE",
        PI: "PI",
        RJ: "RJ",
        RN: "RN",
        RS: "RS",
        RO: "RO",
        RR: "RR",
        SC: "SC",
        SP: "SP",
        SE: "SE",
        TO: "TO",
      },
    };
  },
  methods: {
    autenticar() {
      const vm = this;
      AuthApi.login(vm.login).then(async (response) => {
        const usuario = response.data;
        localStorage.setItem("user", JSON.stringify(usuario));
        localStorage.setItem("rolesAllowed", usuario.rolesAllowed);
        if (!usuario.uf) {
          const uf = await vm.$swal.fire({
            title: "Insira sua localização",
            input: "select",
            inputLabel: "UF",
            inputOptions: vm.estados,
            inputValue: uf,
            showCancelButton: true,
            inputValidator: (value) => {
              if (!value) {
                return "Voce presisa selecionar uma localização!";
              }
            },
          }).then((result) => {
              if(result.isConfirmed){
                  vm.salvaUf(usuario.login, result.value).then(()=>{
                      vm.userRedirect(usuario.rolesAllowed);
                  });
                  console.log(result.value);
              }
          });
        } else if (usuario.uf) {
          vm.userRedirect(usuario.rolesAllowed);
        } else {
          return;
        }
      });
    },
    async salvaUf(login, uf){
        const obj = {
            login: login,
            uf: uf
        };
        return await usuarioApi.updateUfUsuario(obj);
    },
    userRedirect(role){
        const vm = this;
        if (role === "Solicitante") {
            vm.$router.push({ path: "/criar-pesquisa" });
          } else if (
            role === "Pesquisador" ||
            role === "Administrador"
          ) {
            vm.$router.push({ path: "/consultas" });
          } else {
            Alerta.erro("Perfil não encontrato");
          }
    }
  },
  async mounted() {
    Loader.on();
    console.log("selecionando Api...");
    await ping().then(() => Loader.off());
    console.log("api selecionada.");
  },
};
</script>

<style scoped>
.background-login {
  background-color: #033362;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-login {
  width: 25%;
  min-width: 450px;
  background-color: #ffffffa3 !important;
}

.logo-hepta {
  max-width: 115px;
}

.botao {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 16px !important;
}
.alerta {
  margin-top: 2rem;
}

.formulario-login {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 800px) {
  .card-login {
    min-width: 90%;
  }
  .formulario-login {
    padding-left: 0px;
    padding-right: 0px;
  }
}
</style>
