<template>
  <v-main>
    <Topbar @fecha-menu="fecharMenu($event)" />
    <div class="d-flex altura-menu">
      <Menu :fechaMenu="fechaMenu" />
      <v-container>
        <div class="box">
          <h1 class="text-center text-uppercase">Minhas Pesquisas</h1>
          <h4 class="text-center font-weight-regular">
            Aqui você encontra as suas consultas em aberto
          </h4>
          <v-container class="mt-4">
            <v-row>
              <v-col xl="3" lg="3" md="6" sm="6" cols="12">
                <calendario
                  v-model="filtro.dataInicio"
                  @change="buscarSolicitacoes()"
                  @update:value="filtro.dataInicio = $event"
                  required
                  label="Data de Início"
                >
                </calendario>
              </v-col>
              <v-col xl="3" lg="3" md="6" sm="6" cols="12">
                <calendario
                  v-model="filtro.dataFim"
                  @change="buscarSolicitacoes()"
                  @update:value="filtro.dataFim = $event"
                  required
                  label="Data de Fim"
                >
                </calendario>
              </v-col>
              <v-col
                offset-xl="1"
                xl="4"
                lg="6"
                md="12"
                sm="12"
                cols="12"
                class="d-flex flex-column"
              >
                <div>
                  <span class="data-span"> Status: </span>
                </div>
                <div
                  class="d-flex justify-space-between align-center checkbox-mobile"
                >
                  <div v-for="(estado, index) in estados" :key="'est_' + index">
                    <v-checkbox
                      v-model="filtro.estado"
                      :label="estado.text"
                      :value="estado.value"
                      hide-details
                      multiple
                      class="mt-0 status"
                      @change="buscarSolicitacoes()"
                    ></v-checkbox>
                  </div>
                </div>
              </v-col>
            </v-row>
            <v-row>
              <v-col xl="12" lg="12" md="12" sm="12" cols="12">
                <v-autocomplete
                  solo
                  dense
                  clearable
                  label="Buscar por empresa ou CNPJ"
                  hide-details="auto"
                  :loading="loading.filtroEmpresa"
                  v-model="filtro.empresa"
                  item-text="descricao"
                  item-value="entry"
                  :items="itemsEmpresa"
                  @change="buscarSolicitacoes()"
                  @click:clear="buscarSolicitacoes()"
                  :search-input.sync="searchEmpresa"
                  no-data-text="Nenhum dado encontrado"
                >
                  <v-icon slot="prepend-inner" color="#898989" small>
                    fa-search
                  </v-icon>
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-container>
          <v-divider></v-divider>
          <v-container class="pt-0">
            <div class="itens-por-pagina mt-4">
              <p class="pr-5 mb-0">Itens por página:</p>
              <v-select
                v-model="filtro.qtdItens"
                :items="listaQtdItens"
                label="Itens por página"
                @change="buscarSolicitacoes"
                class="largura-itens-por-pagina"
                hide-details="true"
                solo
                dense
              >
              </v-select>
            </div>
            <div id="wapper" v-if="solicitacoes.length > 0">
              <div
                v-for="(data, index) in datasSolicitacoes"
                :key="index"
                class="mb-4"
              >
                <h3 class="text-uppercase">
                  Consulta
                  {{ new Date(data + " 00:00").toLocaleDateString("pt-BR") }}
                </h3>
                <div
                  class="box-pesquisas mt-4"
                  v-for="(solicitacao, index) in solicitacoesPorData(data)"
                  :key="'sol_' + index"
                >
                  <v-expansion-panels>
                    <v-expansion-panel>
                      <v-expansion-panel-header class="box-pesquisa">
                        <div>
                          <v-row class="align-center linha-consulta">
                            <v-col xl="2" lg="2" md="6" sm="12" cols="12">
                              <b class="subtitulo-consulta">CNPJ:</b><br />
                              {{ solicitacao.cnpj }}
                            </v-col>
                            <v-col xl="3" lg="3" md="6" sm="12" cols="12">
                              <b class="subtitulo-consulta">Empresa:</b><br />
                              {{ solicitacao.empresa }}</v-col
                            >
                            <v-col
                              xl="2"
                              lg="2"
                              md="6"
                              sm="12"
                              cols="12"
                              class="d-flex alinhar-responsivo"
                            >
                              <div>
                                <b class="subtitulo-consulta">Atualização:</b
                                ><br />
                                {{
                                  solicitacao.dataAtualizacao
                                    ? new Date(
                                        solicitacao.dataAtualizacao + " 00:00"
                                      ).toLocaleDateString("pt-BR")
                                    : ""
                                }}
                              </div></v-col
                            >
                            <v-col
                              xl="2"
                              offset-xl="1"
                              lg="3"
                              md="6"
                              sm="12"
                              cols="12"
                              class="linha-de-progresso"
                            >
                              <v-progress-linear
                                height="20"
                                color="#12719c"
                                :value="solicitacao.porcConclusao"
                                class="barra-de-progresso"
                              >
                                <strong class="white--text"
                                  >{{
                                    Math.ceil(solicitacao.porcConclusao)
                                  }}%</strong
                                >
                              </v-progress-linear>
                            </v-col>
                            <v-col
                              xl="2"
                              lg="2"
                              md="6"
                              sm="12"
                              cols="12"
                              class="d-flex alinhar-responsivo"
                            >
                              <div
                                v-if="
                                  solicitacao.emAtendimentoPor &&
                                    !solicitacao.concluido
                                "
                                class=""
                              >
                                <div class="status-pesquisa em-atendimento">
                                  Em Atendimento
                                </div>
                              </div>
                              <div v-if="solicitacao.concluido" class="">
                                <div class="status-pesquisa concluida">
                                  Concluída
                                </div>
                              </div>
                              <div
                                v-if="
                                  !solicitacao.emAtendimentoPor &&
                                    !solicitacao.concluido
                                "
                                class=""
                              >
                                <div class="status-pesquisa aberto">Aberto</div>
                              </div>
                            </v-col>
                          </v-row>
                          <v-row class="justify-center borda-btn">
                            <v-col
                              xl="2"
                              lg="3"
                              md="6"
                              sm="12"
                              cols="12"
                              class="justify-center d-flex"
                            >
                              <v-btn
                                width="100%"
                                outlined
                                small
                                color="primary"
                                :to="'/detalhes-consulta/' + solicitacao.id"
                              >
                                Ver detalhes
                              </v-btn>
                            </v-col>
                            <v-col
                              xl="2"
                              lg="3"
                              md="6"
                              sm="12"
                              cols="12"
                              v-if="
                                !solicitacao.emAtendimentoPor &&
                                  !solicitacao.concluido
                              "
                              class="justify-center d-flex"
                            >
                              <v-btn
                                width="100%"
                                outlined
                                small
                                color="error"
                                @click.stop="
                                  cancelarSolicitacao(solicitacao.id)
                                "
                              >
                                Cancelar solicitação
                              </v-btn>
                            </v-col>
                          </v-row>
                        </div>
                      </v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <v-row class="pt-6">
                          <v-col
                            cols="12"
                            xl="4"
                            lg="4"
                            md="6"
                            sm="6"
                            v-for="item in solicitacao.itens"
                            :key="item.id"
                            ><v-icon
                              :class="{
                                itemConcluido: item.concluido,
                                itemSemresultado: item.semResultado,
                              }"
                              class="solicitacao-itens"
                              x-small
                            >
                              fa-circle
                            </v-icon>
                            {{ item.tipo.titulo }}
                          </v-col>
                        </v-row>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </div>
              </div>
            </div>
            <div v-else>
              <h2>Não foram encontradas solicitações.</h2>
            </div>
            <!-- Paginador -->

            <v-row class="mt-5">
              <div class="paginacao">
                <v-pagination
                  v-model="filtro.pagina"
                  :length="maxPages"
                  :total-visible="7"
                  circle
                  @input="buscarSolicitacoes"
                  prev-icon="mdi-chevron-left"
                  next-icon="mdi-chevron-right"
                  class="pl-10 pr-10"
                ></v-pagination>
              </div>
            </v-row>
          </v-container>
        </div>
      </v-container>
    </div>
  </v-main>
</template>

<script>
import Topbar from "../components/Topbar";
import Menu from "../components/Menu";
import apiSolicitacoes from "@/services/solicitacoesApi.js";
import apiEmpresas from "@/services/empresaApi.js";
import Calendario from "../components/Calendario";
import Alerta from "@/utils/Alerta";

var timer;

export default {
  name: "MinhasPesquisas",
  components: {
    Topbar,
    Menu,
    Calendario,
  },
  data: () => ({
    loading: {
      filtroEmpresa: false,
    },
    empresasFiltro: [],
    searchEmpresa: "",
    filtroEstados: [],
    estados: [
      {
        text: "Aberto",
        value: "Aberto",
      },
      {
        text: "Em Atendimento",
        value: "Em Atendimento",
      },
      {
        text: "Concluído",
        value: "Concluida",
      },
    ],
    listaQtdItens: [5, 10, 25, 50, 100, 150, 200],
    filtro: {
      empresa: {
        id: null,
      },
      dataInicio: null,
      dataFim: null,
      estado: null,
      qtdItens: 10,
      pagina: 1,
    },
    maxPages: 0,
    fechaMenu: false,
    solicitacoes: [],
    datasSolicitacoes: [],
  }),
  computed: {
    itemsEmpresa() {
      return this.empresasFiltro.map((entry) => {
        const descricao = entry.cnpj + " - " + entry.nomeEmpresa;
        return Object.assign({}, { entry }, { descricao });
      });
    },
  },
  watch: {
    searchEmpresa(param) {
      const vm = this;
      if (param) {
        if (timer) {
          clearTimeout(timer);
        }
        timer = setTimeout(async () => {
          await vm.buscarNomeEmpresaCNPJ(param);
        }, 900);
      }
    },
  },
  methods: {
    fecharMenu(fechaMenu) {
      this.fechaMenu = fechaMenu;
    },
    // API
    async deletarSolicitacao(id) {
      await apiSolicitacoes.excluiSolicitacaoPropria(id).then(() => {
        this.buscarSolicitacoes();
      });
    },
    buscarSolicitacoes() {
      const vm = this;
      apiSolicitacoes
        .buscaSolicitacoesSolicitante(
          vm.filtro.dataInicio,
          vm.filtro.dataFim,
          vm.filtro.empresa ? vm.filtro.empresa.id : null,
          vm.filtro.estado,
          vm.filtro.qtdItens,
          vm.filtro.pagina
        )
        .then((response) => {
          vm.solicitacoes = response.data.result;
          vm.maxPages = response.data.maxPages;
          vm.datas();
        });
    },
    async buscarNomeEmpresaCNPJ(param) {
      this.loading.filtroEmpresa = true;
      await apiEmpresas
        .buscarEmpresa(param)
        .then((resp) => {
          this.empresasFiltro = resp.data;
        })
        .finally(() => {
          this.loading.filtroEmpresa = false;
        });
    },
    // Açoes
    buscaEmpresaCNPJ(param) {
      const vm = this;
      if (param && param.length >= 3) {
        if (timer) {
          clearTimeout(timer);
        }
        timer = setTimeout(async () => {
          await vm.buscarNomeEmpresaCNPJ(param);
        }, 900);
      }
    },
    cancelarSolicitacao(id) {
      Alerta.warningConfirm(async (resposta) => {
        if (resposta) {
          await this.deletarSolicitacao(id);
        }
      }, "Deseja realmente deletar esta solicitacao?");
    },

    // Filtros
    datas() {
      if (this.solicitacoes) {
        this.datasSolicitacoes = new Set(
          this.solicitacoes.map(({ dataCriacao }) => dataCriacao)
        );
      } else {
        this.datasSolicitacoes = [];
      }
    },
    solicitacoesPorData(data) {
      if (this.solicitacoes) {
        return this.solicitacoes.filter((s) => s.dataCriacao === data);
      } else {
        return [];
      }
    },
  },
  created() {
    this.filtro.dataFim = new Date();
    this.filtro.dataInicio = new Date(new Date().getTime() - 2592000000);
  },
  mounted() {
    this.buscarSolicitacoes();
  },
};
</script>

<style scoped>
.border {
  border-bottom: solid 1px grey;
}

.v-expansion-panel-header {
  line-height: inherit !important;
  font-size: inherit !important;
  box-shadow: 0px 0px 5px 1px #80808038;
  padding: 10px;
  border-radius: 5px;
}

.v-expansion-panel-content {
  box-shadow: 0px 0px 5px 1px #80808038;
  border-radius: 0 0 5px 5px;
}

.v-expansion-panel::before {
  box-shadow: none;
}

.v-expansion-panel-header--active {
  background-color: #f8f8f8;
  box-shadow: 0px 2px 3px 1px #80808038;
}

.itemConcluido {
  color: #4caf50;
}

.itemSemresultado {
  color: #ff9800;
}

.status-pesquisa {
  width: 100%;
  color: #ffffff;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  min-width: 120px;
  font-size: 0.8em;
}

.em-atendimento {
  background-color: #1867c0;
}

.concluida {
  background-color: #4caf50;
}

.aberto {
  background-color: rgb(236, 236, 236);

  color: #000;
}

.subtitulo-consulta {
  font-size: 0.9em;
  color: #004592;
}

.linha-consulta {
  padding: 0 10px;
}

.alinhar-responsivo {
  justify-content: center;
}

.status {
  font-size: 0.9em;
}

.data-span {
  font-size: 0.8em;
}

.borda-btn {
  border-top: solid 1px #80808012;
}

.largura-itens-por-pagina {
  max-width: 100px;
}

.paginacao {
  display: flex;
  justify-content: center;
  width: 100%;
}

.itens-por-pagina {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

@media screen and (max-width: 1264px) {
  .linha-consulta {
    padding: 5px 0;
  }
  .alinhar-responsivo {
    justify-content: start;
  }
}
@media (min-width: 1264px) and (max-width: 1904px) {
  .linha-de-progresso {
    justify-content: flex-end;
    display: flex;
  }
  .barra-de-progresso {
    max-width: 80%;
  }
}

@media screen and (min-width: 1904px) {
  .alinhamento-botao {
    padding-right: 36px;
  }
}

@media screen and (max-width: 480px) {
  .checkbox-mobile {
    flex-direction: column;
    align-items: flex-start !important;
  }
}

@media screen and (max-width: 600px) {
  .itens-por-pagina {
    justify-content: start;
    margin-bottom: 15px;
  }
}
</style>
