<template>
  <div>
    <span class="data-span">{{ label + ":" }}</span>
    <v-menu
      ref="menu1"
      v-model="menu1"
      :close-on-content-click="false"
      transition="scale-transition"
      offset-y
      max-width="290px"
      min-width="auto"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
          v-model="dateText"
          v-mask="mask.data"
          :label="label"
          v-bind="attrs"
          v-on="on"
          :rules="dataRules"
          hide-details="true"
          solo
          dense
          @input="setDate()"
        >
          <v-icon slot="append" color="#898989" small>fa-calendar</v-icon>
        </v-text-field>
      </template>
      <v-date-picker
        v-model="dateISO"
        no-title
        locale="pt-BR"
        @change="setDateISO()"
        @input="menu1 = false"
      />
    </v-menu>
  </div>
</template>
<script>
export default {
  name: "Calendário",
  props: {
    label: String,
    required: Boolean,
  },
  data: (vm) => ({
    date: vm.$attrs.value,
    dateText: "",
    dateISO: "",
    menu1: false,
    menu2: false,
    mask: {
      data: "##/##/####",
    },
    dateRegex:
      "^(((0[1-9]|[12][0-9]|3[01])[- /.](0[13578]|1[02])|(0[1-9]|[12][0-9]|30)[- /.]" +
      "(0[469]|11)|(0[1-9]|1\\d|2[0-8])[- /.]02)[- /.]\\d{4}|29[- /.]02[- /.]" +
      "(\\d{2}(0[48]|[2468][048]|[13579][26])|([02468][048]|[1359][26])00))$",
    dataRules: [
      (v) => !v || vm.label + " é obrigatório.",
      (v) => new RegExp(vm.dateRegex).test(v) || "Data inválida. DD/MM/YYYY",
    ],
  }),

  computed: {
    dateFormatted(vm) {
      return vm.formatDate(vm.date.toISOString().substr(0, 10));
    },
  },
  mounted() {
    this.dateText = this.dateFormatted;
    this.dateISO = this.date.toISOString().substr(0, 10);
  },

  /*watch: {
    date(val) {
      this.dateFormatted = this.formatDate(this.date);
    },
  },*/

  methods: {
    setDate() {
      const vm = this;
      if (new RegExp(vm.dateRegex).test(vm.dateText)) {
        const strSplit = vm.dateText.split("/");
        vm.$attrs.value = new Date(
          `${strSplit[2]}-${strSplit[1]}-${strSplit[0]} 00:00`
        );
        vm.date = new Date(
          `${strSplit[2]}-${strSplit[1]}-${strSplit[0]} 00:00`
        );
        vm.$emit("update:value", vm.date);
        vm.$emit("change");
      }
    },
    setDateISO() {
      const vm = this;
      vm.$attrs.value = new Date(`${this.dateISO} 00:00`);
      vm.date = new Date(`${this.dateISO} 00:00`);
      vm.dateText = vm.dateFormatted;
      vm.$emit("update:value", vm.date);
      vm.$emit("change");
    },
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
  },
};
</script>
<style scoped>
.data-span {
  font-size: 0.8em;
}
</style>
