<template>
  <v-overlay v-if="semaforo > 0">
    <v-progress-circular :size="100" :width="10" color="white" indeterminate>
    </v-progress-circular>
  </v-overlay>
</template>
<script>
export default {
  name: "Loader",
  mounted() {
    this.$root.$on("loader-on", () => this.show());
    this.$root.$on("loader-off", () => this.hide());
  },
  data: () => ({
    semaforo: 0,
  }),
  methods: {
    show() {
      this.semaforo++;
    },
    hide() {
      if (this.semaforo > 0) this.semaforo--;
    },
  },
};
</script>
