<template>
  <div id="menu">
    <v-card height="100%" class="rounded-0">
      <v-navigation-drawer
        permanent
        class="bg-menu"
        width="270px"
        v-model="drawer"
        :mini-variant.sync="fechaMenu"
      >
        <v-list dense nav>
          <v-list-item
            v-for="item in itemsView"
            :key="item.title"
            link
            :to="item.link"
            :class="{ 'menu-aberto': !fechaMenu }"
          >
            <v-list-item-icon class="mr-1 ">
              <v-icon class="white--text pr-5" small>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title class="white--text text-left menu-title">
                {{ item.title }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
    </v-card>
  </div>
</template>
<script>
export default {
  name: "Menu",
  props: { fechaMenu: Boolean },

  data() {
    return {
      drawer: true,
      items: [
        {
          title: "Criar pesquisa",
          icon: "fa-plus",
          link: "/criar-pesquisa",
          perfil: "Solicitante, Pesquisador, Administrador",
        },
        {
          title: "Minhas pesquisas",
          icon: "fa-list-alt",
          link: "/minhas-pesquisas",
          perfil: "Solicitante, Pesquisador, Administrador",
        },
        // { title: "Histórico", icon: "fa-history", link: "/historico", perfil: "Solicitante" },
        {
          title: "Consultas em aberto",
          icon: "fa-search",
          link: "/consultas",
          perfil: "Pesquisador, Administrador",
        },
        {
          title: "Relatórios",
          icon: "fa-file-csv",
          link: "/relatorios",
          perfil: "Administrador",
        },
        {
          title: "Administração de Perfis",
          icon: "fa-user",
          link: "/adm-perfil",
          perfil: "Administrador",
        },
      ],
      itemsView: [],
      right: null,
      perfil: "",
    };
  },
  created() {
    const vm = this;
    vm.perfil = localStorage.getItem("rolesAllowed");
    vm.itemsPerfil(vm.perfil);
  },
  methods: {
    itemsPerfil(perfil) {
      const vm = this;
      vm.itemsView = vm.items.filter((i) => i.perfil.includes(perfil));
    },
  },
};
</script>
<style scoped>
.bg-menu {
  background-color: #2e3235 !important;
}

.menu-title {
  font-size: 1rem !important;
}

.menu-aberto {
  padding-left: 20px !important;
  transition-delay: 150ms;
}

@media screen and (max-width: 800px) {
  #menu {
    display: none;
  }
}
</style>
