<template>
  <section class="topbar">
    <div class="margin-topbar pa-2">
      <v-row class="menu-topbar">
        <div class="d-flex align-center justify-center logo-mobile">
          <v-btn icon @click="fecharMenu()" class="mr-4 menu-btn">
            <v-icon color="white">fa-bars</v-icon>
          </v-btn>
          <v-btn
            icon
            class="mr-4 menu-btn-mobile"
            @click.stop="drawer = !drawer"
          >
            <v-icon color="white">fa-bars</v-icon>
          </v-btn>

          <img
            src="../assets/logo-martinelli-topbar.png"
            style="max-width: 180px"
            class="ma-3"
          />
        </div>

        <div class="login-usuario d-flex align-center">
          <div class="usuario">
            <v-icon>fa-user</v-icon>
          </div>
          <p class="white--text mb-0 pr-5">{{ login }}</p>
          <v-btn text @click="logout" color="white">
            <v-icon small class="pr-2">
              fa-sign-out-alt
            </v-icon>
            Sair
          </v-btn>
        </div>
      </v-row>
      <v-navigation-drawer v-model="drawer" absolute temporary class="bg-menu">
        <v-list dense nav>
          <v-list-item
            v-for="item in itemsView"
            :key="item.title"
            link
            :to="item.link"
            :class="{ 'menu-aberto': !fechaMenu }"
          >
            <v-list-item-icon class="mr-1 ">
              <v-icon class="white--text pr-5" small>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title class="white--text text-left menu-title">
                {{ item.title }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
    </div>
  </section>
</template>
<script>
import apiAuth from '@/services/authApi.js';

export default {
  name: 'Topbar',

  data() {
    return {
      login: '',
      fechaMenu: false,
      drawer: false,
      group: null,
      items: [
        {
          title: 'Criar pesquisa',
          icon: 'fa-plus',
          link: '/criar-pesquisa',
          perfil: 'Solicitante, Pesquisador',
        },
        {
          title: 'Minhas pesquisas',
          icon: 'fa-list-alt',
          link: '/minhas-pesquisas',
          perfil: 'Solicitante, Pesquisador',
        },
        // { title: "Histórico", icon: "fa-history", link: "/historico", perfil: "Solicitante" },
        {
          title: 'Consultas em aberto',
          icon: 'fa-search',
          link: '/consultas',
          perfil: 'Pesquisador',
        },
      ],
      itemsView: [],
    };
  },
  created() {
    const user = JSON.parse(localStorage.getItem('user'));
    this.login = user.nome;
    const vm = this;
    vm.perfil = localStorage.getItem('rolesAllowed');
    vm.itemsPerfil(vm.perfil);
  },
  methods: {
    fecharMenu() {
      this.fechaMenu = !this.fechaMenu;
      this.$emit('fecha-menu', this.fechaMenu);
    },
    logout() {
      const vm = this;
      apiAuth
        .logout()
        .then((response) => {
          if (response.status == 200) {
            localStorage.removeItem('user');
            localStorage.removeItem('rolesAllowed');
            vm.$router.push({ name: 'Login' });
          }
        })
        .catch((error) => {
          console.log(error.response.data);
        });
    },
    itemsPerfil(perfil) {
      const vm = this;
      vm.itemsView = vm.items.filter((i) => i.perfil.includes(perfil));
    },
  },
  watch: {
    group() {
      this.drawer = false;
    },
  },
};
</script>
<style scoped>
.topbar {
  background-color: #2e3235 !important;
}

.usuario {
  background-color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-left: 15px;
}

.usuario i {
  font-size: 19px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  color: #2e3235;
}

.menu-sair {
  height: 30px !important;
}

.bg-menu {
  background-color: #2e3235 !important;
}

@media screen and (max-width: 800px) {
  .menu-btn {
    display: none;
  }
  .topbar {
    padding: 10px;
  }
  .logo-mobile {
    width: 100%;
  }
  .margin-topbar {
    margin-left: 20px;
    margin-right: 20px;
  }
  .login-usuario {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (min-width: 800px) {
  .menu-btn-mobile {
    display: none;
  }
  .margin-topbar {
    margin-left: 20px;
    margin-right: 60px;
  }
  .menu-topbar {
    justify-content: space-between;
  }
}
</style>
