<template>
  <v-main>
    <Topbar @fecha-menu="fecharMenu($event)" />
    <div class="d-flex altura-menu">
      <Menu :fechaMenu="fechaMenu" />

      <v-container>
        <v-card>
          <v-toolbar
            elevation="6"
            class="toobar-altura"
            height="!tabsResponsivo"
          >
            <v-tabs
              v-model="tabs"
              slider-color="white"
              color="white"
              :grow="!tabsResponsivo"
              background-color="#1268B3"
              :vertical="tabsResponsivo"
              v-resize="onResize"
              class="tab-altura"
            >
              <v-tab class="espaco-letras cor-tab tab-responsivo">
                Pesquisas em aberto
              </v-tab>
              <v-tab class="espaco-letras cor-tab tab-responsivo">
                Pesquisas em atendimento
              </v-tab>
              <v-tab class="espaco-letras cor-tab tab-responsivo">
                Pesquisas concluídas
              </v-tab>
            </v-tabs>
          </v-toolbar>

          <v-tabs-items v-model="tabs" class="position">
            <v-tab-item>
              <ListaPesquisasEmAberto
                :mapUrgentes="mapUrgentes"
                :pesquisas="pesquisas"
                :solicitantesPendentes="solicitantesPendentes"
                v-on:atender="atender"
                v-on:excluir="excluir"
              />
            </v-tab-item>
            <v-tab-item>
              <ListaPesquisasEmAtendimento
                :pesquisas="pesquisas"
                :atendentes="atendentes"
                :user="user"
                :loading="loading"
                v-on:atender="atender"
                v-on:concluir="concluir"
              />
            </v-tab-item>
            <v-tab-item>
              <ListaPesquisasConcluidas
                :filtro="filtro"
                :loader="loader"
                :empresasFiltro="empresasFiltro"
                :solicitantesFiltro="solicitantesFiltro"
                :atendentesFiltro="atendentesFiltro"
                :dataConcluidos="dataConcluidos"
                :listaQtdItens="listaQtdItens"
                :maxPages="maxPages"
                :totalItens="totalItens"
                :pesquisasConcluidas="pesquisasConcluidas"
                v-on:buscarPesquisasConcluidas="buscarPesquisasConcluidas"
                v-on:buscaEmpresaCNPJ="buscarNomeEmpresaCNPJ"
                v-on:buscaSolicitante="buscarSolicitantes"
                v-on:buscaAtendente="buscarAtendentes"
              />
            </v-tab-item>
          </v-tabs-items>
        </v-card>
      </v-container>
    </div>
  </v-main>
</template>

<script>
import Topbar from "@/components/Topbar";
import Menu from "@/components/Menu";
import apiSolicitacoes from "@/services/solicitacoesApi.js";
import apiEmpresas from "@/services/empresaApi.js";
import apiUsuario from "@/services/usuarioApi.js";
import Alerta from "@/utils/Alerta.js";

import ListaPesquisasEmAberto from "./components/ListaPesquisasEmAberto.vue";
import ListaPesquisasEmAtendimento from "./components/ListaPesquisasEmAtendimento.vue";
import ListaPesquisasConcluidas from "./components/ListaPesquisasConcluidas.vue";

var timerAtendimento;

export default {
  name: "Consultas",
  components: {
    Topbar,
    Menu,
    ListaPesquisasEmAberto,
    ListaPesquisasEmAtendimento,
    ListaPesquisasConcluidas,
  },
  data() {
    return {
      fechaMenu: false,
      filtro: {
        empresa: null,
        dataInicio: null,
        dataFim: null,
        estado: null,
        solicitante: null,
        atendente: null,
        qtdItens: 10,
        pagina: 1,
      },
      loader: {
        filtroEmpresa: false,
        filtroSolicitantes: false,
        filtroAtendentes: false,
      },
      maxPages: 0,
      totalItens: 0,
      listaQtdItens: [5, 10, 25, 50, 100, 150, 200],
      empresasFiltro: [],
      solicitantesFiltro: [],
      atendentesFiltro: [],
      atendentes: [],
      dataConcluidos: [],
      solicitantesPendentes: [],
      solicitantesConcluidos: [],
      pesquisas: [],
      pesquisasConcluidas: [],
      user: {},
      loading: false,
      tabs: null,
      tamanhoTela: 0,
      tabsResponsivo: false,
      mapUrgentes: {},
    };
  },
  created() {
    this.filtro.dataFim = new Date();
    this.filtro.dataInicio = new Date(new Date().getTime() - 2592000000);
  },
  mounted() {
    const vm = this;
    vm.user = JSON.parse(localStorage.getItem("user"));
    vm.buscarPesquisasNaoConcluidas();
    if (timerAtendimento) {
      clearInterval(timerAtendimento);
    } else {
      timerAtendimento = setInterval(
        async () => await vm.buscarPesquisasNaoConcluidas(),
        300000
      );
    }
    vm.buscarPesquisasConcluidas();
    vm.buscarAtendentes();
    this.voltarDetalhes();
  },
  methods: {
    pesquisasUrgentes() {
      let mapUrgentes = {};
      for (let i = 0; i < this.pesquisas.length; i++) {
        let obj = this.pesquisas[i];
        let key = obj.solicitadoPor.nome;
        if (obj.urgente && obj.emAtendimentoPor == null && !obj.concluido) {
          if (mapUrgentes[key] == null) mapUrgentes[key] = [obj];
          else mapUrgentes[key].push(obj);
        }
      }
      return mapUrgentes;
    },
    onResize() {
      this.tamanhoTela = window.innerWidth;
      this.tabsResponsivo = this.tamanhoTela < 960 ? true : false;
    },
    fecharMenu(fechaMenu) {
      this.fechaMenu = fechaMenu;
    },
    // API
    async buscarSolicitantes(param) {
      this.loader.filtroSolicitantes = true;
      await apiUsuario
        .buscarSolicitantes(param)
        .then((resp) => {
          this.solicitantesFiltro = resp.data;
        })
        .finally(() => {
          this.loader.filtroSolicitantes = false;
        });
    },
    async buscarNomeEmpresaCNPJ(param) {
      this.loader.filtroEmpresa = true;
      await apiEmpresas
        .buscarEmpresa(param)
        .then((resp) => {
          this.empresasFiltro = resp.data;
        })
        .finally(() => {
          this.loader.filtroEmpresa = false;
        });
    },
    async buscarAtendentes() {
      this.loader.filtroAtendentes = true;
      await apiUsuario
        .buscarAtendentes()
        .then((resp) => {
          this.atendentesFiltro = resp.data;
        })
        .finally(() => {
          this.loader.filtroAtendentes = false;
        });
    },
    buscarPesquisasNaoConcluidas() {
      const vm = this;
      apiSolicitacoes.buscarPesquisasNaoConcluidas().then((res) => {
        vm.pesquisas = res.data;
        vm.mapUrgentes = vm.pesquisasUrgentes();
        vm.listarAtendentes();
        vm.listarSolicitantesPendentes();
      });
    },
    buscarPesquisasConcluidas() {
      const vm = this;
      apiSolicitacoes
        .buscarPesquisasConcluidas(
          this.filtro.dataInicio,
          this.filtro.dataFim,
          this.filtro.empresa ? this.filtro.empresa.id : null,
          this.filtro.solicitante,
          this.filtro.atendente,
          this.filtro.qtdItens,
          this.filtro.pagina
        )
        .then((res) => {
          vm.pesquisasConcluidas = res.data.result;
          vm.maxPages = res.data.maxPages;
          vm.totalItens = res.data.totalItens;
          vm.listarDatasConcluidos();
        });
    },
    atualizarAtendente(id) {
      const vm = this;
      vm.loading = true;
      let indice = vm.pesquisas.findIndex((item) => item.id === id);
      apiSolicitacoes
        .atender(id)
        .then((res) => {
          vm.pesquisas[indice] = res.data;
          vm.listarAtendentes();
          vm.listarSolicitantesPendentes();
        })
        .finally(() => {
          vm.loading = false;
          vm.dialogAtender.show = false;
        });
    },
    concluirSolicitacao(id) {
      const vm = this;
      vm.loading = true;
      let indice = vm.pesquisas.findIndex((item) => item.id === id);
      apiSolicitacoes
        .concluir(id)
        .then(() => {
          vm.pesquisas.splice(indice, 1);
          vm.buscarPesquisasNaoConcluidas();
        })
        .finally(() => {
          vm.loading = false;
          vm.dialogConcluir.show = false;
        });
    },
    // Filtros
    listarAtendentes() {
      const vm = this;
      if (vm.pesquisas) {
        const login = new Set(
          vm.pesquisas
            .filter((p) => p.emAtendimentoPor)
            .map(({ emAtendimentoPor }) => emAtendimentoPor.login)
        );
        vm.atendentes = [];
        login.forEach((l) => {
          const obj = vm.pesquisas.find((p) =>
            !p.concluido && !p.urgente && p.emAtendimentoPor
              ? p.emAtendimentoPor.login === l
              : false
          );
          if (obj) vm.atendentes.push(new Object(obj.emAtendimentoPor));
        });
      } else {
        this.atendentes = [];
      }
    },
    listarSolicitantesPendentes() {
      const vm = this;
      if (vm.pesquisas) {
        const login = new Set(
          vm.pesquisas
            .filter((p) => p.emAtendimentoPor === null)
            .map(({ solicitadoPor }) => solicitadoPor.login)
        );
        vm.solicitantesPendentes = [];
        login.forEach((l) => {
          const obj = vm.pesquisas.find(
            (p) =>
              !p.concluido &&
              !p.urgente &&
              (p.solicitadoPor ? p.solicitadoPor.login === l : false)
          );
          if (obj) vm.solicitantesPendentes.push(new Object(obj.solicitadoPor));
        });
      } else {
        this.solicitantesPendentes = [];
      }
    },
    listarDatasConcluidos() {
      const vm = this;
      if (vm.pesquisasConcluidas) {
        const datas = new Set(
          vm.pesquisasConcluidas.map(({ dataAtualizacao }) => dataAtualizacao)
        );
        vm.dataConcluidos = [];
        datas.forEach((d) => {
          const obj = vm.pesquisasConcluidas.find((p) =>
            p.concluido && p.dataAtualizacao ? p.dataAtualizacao === d : false
          );
          vm.dataConcluidos.push(obj.dataAtualizacao);
        });
      } else {
        vm.dataConcluidos = [];
      }
    },
    // Botões de ação
    atender(id, isEmAtendimento, isMesmoAtendente) {
      const vm = this;
      console.log(vm.tabs);
      vm.tabs = 1;
      if (isMesmoAtendente) {
        Alerta.customConfirm(
          (res) => {
            if (res) vm.atualizarAtendente(id);
          },
          "Parar Atendimento",
          "Deseja parar o atendimento?"
        );
      } else if (isEmAtendimento) {
        Alerta.customConfirm(
          (res) => {
            if (res) vm.atualizarAtendente(id);
          },
          "Mudar Atendente",
          "A solicitação já está em atendimento. Deseja mudar de atendente?"
        );
      } else {
        vm.atualizarAtendente(id, vm.user.login); //????
      }
    },
    excluir(id) {
      const vm = this;
      Alerta.customConfirm(
        (res) => {
          if (res)
            apiSolicitacoes.excluiSolicitacao(id).then(() => {
              vm.buscarPesquisasNaoConcluidas();
              vm.buscarPesquisasConcluidas();
              vm.buscarAtendentes();
            });
        },
        "Cancelar solicitação de pesquisa",
        "Deseja cancelar essa pesquisa?"
      );
    },
    concluir(id) {
      const vm = this;
      Alerta.customConfirm(
        (res) => {
          if (res) vm.concluirSolicitacao(id);
        },
        "Concluir Atendimento",
        "Deseja concluir o atendimento?"
      );
    },
    //voltar de pagina Detalhes
    voltarDetalhes() {
      if (localStorage.getItem("voltar")) {
        this.tabs = parseInt(localStorage.getItem("voltar"));
        localStorage.removeItem("voltar");
      }
    },
  },
};
</script>

<style scoped>
.border {
  border-bottom: solid 1px grey;
}
.dialog-text {
  padding: 1rem;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.cor-tab {
  color: #62aff2 !important;
}

.cor-tab.v-tab--active {
  color: white !important;
}

.position {
  position: initial;
}

.alinhar-responsivo {
  justify-content: center;
}

.alinhar-botao-atender {
  justify-content: center;
}

.toobar-altura {
  min-height: 58px;
}

.tab-altura {
  height: 58px !important;
}

@media screen and (max-width: 1264px) {
  .alinhar-responsivo {
    justify-content: start;
  }
  .alinhar-botao-atender {
    justify-content: start;
  }
}

@media screen and (max-width: 600px) {
  .alinhar-responsivo {
    justify-content: start;
  }
  .alinhar-botao-atender {
    justify-content: center;
  }
}

@media screen and (max-width: 960px) {
  .v-slide-group__content {
    flex-direction: column !important;
  }
  .tab-responsivo {
    max-width: 100%;
  }
  .tab-altura {
    height: 100px !important;
  }
  .tab-altura1 {
    height: 100%;
  }
}
</style>
