<template>
  <v-main>
    <Topbar @fecha-menu="fecharMenu($event)" />
    <div class="d-flex altura-menu">
      <Menu :fechaMenu="fechaMenu" />
      <v-container>
        <div class="box">
          <h1 class="text-center text-uppercase">Detalhes da pesquisa</h1>
          <v-btn @click="voltar()">Voltar</v-btn>
          <div class="d-flex justify-end">
            <v-btn
              class="ma-2 mr-1"
              x-small
              outlined
              color="red"
              v-if="!solicitacao.concluido"
              @click="
                atender(
                  solicitacao.emAtendimentoPor != null,
                  solicitacao.emAtendimentoPor
                    ? solicitacao.emAtendimentoPor.login == user.login
                    : false
                )
              "
            >
              {{ textoBotaoAtender() }}
            </v-btn>
            <v-btn
              class="ma-2 ml-1 mr-0"
              x-small
              outlined
              color="green"
              v-if="isCompleted() && !solicitacao.concluido"
              @click="concluir"
            >
              Concluir
            </v-btn>
            <v-btn
              class="ma-2 ml-1 mr-0"
              x-small
              outlined
              color="orange"
              v-if="solicitacao.concluido"
              @click="reverter"
            >
              Revisar
            </v-btn>
          </div>
          <div class="box">
            <v-row class="justify-space-between">
              <v-col xl="5" lg="5" md="5" sm="6" class="col-xs-12">
                <label>Empresa: </label>
                <span>{{ solicitacao ? solicitacao.empresa : "" }}</span>
              </v-col>
              <v-col xl="4" lg="4" md="4" sm="6" class="col-xs-12">
                <label>UF: </label>
                <span>{{ solicitacao ? solicitacao.uf : "" }}</span>
              </v-col>
              <v-col xl="3" lg="3" md="3" sm="6" class="col-xs-12">
                <label>Atendimento: </label>
                <span>{{
                  solicitacao.dataAtualizacao
                    ? new Date(
                        solicitacao.dataAtualizacao + " 00:00"
                      ).toLocaleDateString("pt-BR")
                    : ""
                }}</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col xl="5" lg="5" md="5" sm="6" class="col-xs-12">
                <label>CNPJ: </label>
                <span>{{ solicitacao ? solicitacao.cnpj : "" }}</span>
              </v-col>
              <v-col xl="4" lg="4" md="4" sm="6" class="col-xs-12">
                <label>Solicitada em: </label>
                <span>{{
                  solicitacao.dataCriacao
                    ? new Date(
                        solicitacao.dataCriacao + " 00:00"
                      ).toLocaleDateString("pt-BR")
                    : ""
                }}</span>
              </v-col>
            </v-row>
          </div>
          <div class="box box-urgente" v-if="solicitacao.urgente">
            <h3>Urgente:</h3>
            <p>{{ solicitacao.observacao }}</p>
          </div>
          <div class="box box-titulo">
            <h2>Documentos solicitados</h2>
          </div>
          <v-container class="pa-2">
            <v-row>
              <v-col
                xl="4"
                lg="4"
                md="6"
                sm="6"
                class="col-xs-12"
                v-for="(item, index) in solicitacao.itens"
                :key="index"
              >
                <div
                  class="box pa-3 mb-0 box-documentos"
                  :class="{ disabled: item.concluido }"
                >
                  <v-icon small color="success" v-if="item.concluido">
                    fa-check
                  </v-icon>
                  {{ item.tipo.titulo }}
                </div>
              </v-col>
            </v-row>
          </v-container>
          <template>
            <v-btn
              class="mt-2"
              color="#1268B3"
              dark
              block
              @click="mostraModalAnexarDocumento = true"
              v-if="solicitacao.porcConclusao < 100"
            >
              Anexar documentos
            </v-btn>
            <v-btn class="mt-2" disabled block v-else>
              Todos os documentos foram anexados
            </v-btn>
          </template>

          <v-row justify="center" class="mt-5">
            <v-expansion-panels
              accordion
              v-model="panel"
              aria-expanded="true"
              v-if="itensComArquivo.length > 0"
            >
              <v-expansion-panel
                @click="
                  abrePainelConsultasConcluidas = !abrePainelConsultasConcluidas
                "
              >
                <v-expansion-panel-header class="panel-consultas">
                  <span class="marcador-concluido"></span>
                  Consultas concluídas
                  <template v-slot:actions>
                    <v-icon
                      small
                      v-if="abrePainelConsultasConcluidas"
                      color="grey"
                    >
                      fa-plus
                    </v-icon>
                    <v-icon small v-else color="grey"> fa-minus </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-container>
                    <v-row>
                      <v-col
                        xl="4"
                        lg="6"
                        md="6"
                        class="pt-5"
                        v-for="arq in itensComArquivo"
                        :key="arq.arquivo.id"
                      >
                        <div class="box-consulta">
                          <div class="box-consulta-header">
                            <h4>{{ arq.arquivo.fileName }}</h4>
                          </div>
                          <div class="box-consulta-corpo">
                            <div class="pt-2 px-5">
                              <h4 class="documentos-relacionados">
                                Documentos relacionados
                              </h4>
                              <v-divider></v-divider>
                              <ul>
                                <div v-if="arq.itens.length > 4">
                                  <li v-for="(val, id) in 4" :key="id">
                                    {{ arq.itens[id].tipo.titulo }}
                                  </li>
                                </div>
                                <div v-else>
                                  <li
                                    v-for="(val, id) in arq.itens.length"
                                    :key="id"
                                  >
                                    {{ arq.itens[id].tipo.titulo }}
                                  </li>
                                </div>
                              </ul>
                              <p
                                class="ver-mais"
                                v-if="arq.itens.length > 4"
                                @click="verMais(arq.itens)"
                              >
                                Ver mais...
                              </p>
                            </div>
                            <div class="px-2 pb-3 d-flex botoes-anexos">
                              <v-col
                                xl="6"
                                lg="4"
                                md="4"
                                sm="6"
                                class="col-xs-12"
                                v-if="!solicitacao.concluido"
                              >
                                <v-btn
                                  block
                                  outlined
                                  color="error"
                                  @click="
                                    excluirArquivo(
                                      solicitacao.id,
                                      arq.arquivo.id
                                    )
                                  "
                                >
                                  Excluir
                                </v-btn>
                              </v-col>
                              <v-col
                                xl="6"
                                lg="8"
                                md="8"
                                sm="6"
                                class="col-xs-12"
                              >
                                <v-btn
                                  width="100%"
                                  outlined
                                  color="primary"
                                  class="botao-download"
                                  @click="downloadArquivo(arq.arquivo.id)"
                                >
                                  Download do arquivo
                                </v-btn>
                              </v-col>
                            </div>
                          </div>
                        </div>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
            <v-expansion-panels
              v-if="itensSemResultado.length > 0"
              v-model="panel1"
              aria-expanded="true"
              class="mt-5"
            >
              <v-expansion-panel
                @click="
                  abrePainelConsultasSemResultado = !abrePainelConsultasSemResultado
                "
              >
                <v-expansion-panel-header class="panel-consultas">
                  <span class="marcador-sem-resultado"></span>
                  Consultas sem resultado

                  <template v-slot:actions>
                    <v-icon
                      v-if="abrePainelConsultasSemResultado"
                      small
                      color="grey"
                    >
                      fa-plus
                    </v-icon>
                    <v-icon v-else small color="grey"> fa-minus </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-container>
                    <v-row>
                      <v-col xl="4" lg="6" md="6" class="pt-5">
                        <div class="box-consulta">
                          <div class="box-consulta-header-sem-arquivo">
                            <h4>Sem resultado</h4>
                          </div>
                          <div class="box-consulta-corpo">
                            <div class="pt-2 px-5">
                              <h4 class="documentos-relacionados">
                                Documentos relacionados
                              </h4>
                              <v-divider></v-divider>
                              <ul>
                                <div v-if="itensSemResultado.length > 4">
                                  <li v-for="(val, id) in 4" :key="id">
                                    {{ itensSemResultado[id].tipo.titulo }}
                                  </li>
                                </div>
                                <div v-else>
                                  <li
                                    v-for="(val,
                                    id) in itensSemResultado.length"
                                    :key="id"
                                  >
                                    {{ itensSemResultado[id].tipo.titulo }}
                                  </li>
                                </div>
                              </ul>
                              <p
                                class="ver-mais"
                                v-if="itensSemResultado.length > 4"
                                @click="verMais(itensSemResultado)"
                              >
                                Ver mais...
                              </p>
                            </div>
                            <div class="px-2 pb-3 d-flex">
                              <v-btn
                                block
                                outlined
                                color="error"
                                v-if="!solicitacao.concluido"
                                @click="excluirSemResultado()"
                              >
                                Excluir
                              </v-btn>
                            </div>
                          </div>
                        </div>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-row>
        </div>
      </v-container>

      <!-- Modal ANEXAR ARQUIVO-->
      <div class="text-center">
        <v-dialog
          persistent
          v-model="mostraModalAnexarDocumento"
          max-width="1200"
        >
          <v-card>
            <v-card-title class="cabecalho-modal">
              Anexar documento
            </v-card-title>

            <v-card-text>
              <div class="d-flex align-center">
                <label class="mr-2">Arquivo sem resultado</label>
                <v-switch v-model="semResultado"></v-switch>
              </div>

              <v-container fluid class="px-0">
                <section>
                  <v-row class="px-2">
                    <v-col xl="8" lg="8" md="8" sm="6" class="col-xs-12">
                      <v-text-field
                        v-model="nomeArquivo"
                        label="Nome do arquivo"
                        value=""
                        placeholder="Nome do arquivo"
                        outlined
                        hide-details="true"
                        :disabled="semResultado"
                      />
                    </v-col>
                    <v-col xl="4" lg="4" md="4" sm="6" class="col-xs-12">
                      <v-file-input
                        counter
                        label="Anexar arquivos"
                        prepend-icon="mdi-paperclip"
                        outlined
                        hide-details="true"
                        v-model="arquivo"
                        :accept="permitedFiles"
                        :show-size="1000"
                        :disabled="semResultado"
                        @change="anexarArquivo()"
                      >
                        <template v-slot:selection="{ index, text }">
                          <v-chip
                            v-if="index < 2"
                            color="primary accent-4"
                            dark
                            label
                            small
                          >
                            {{ text }}
                          </v-chip>
                        </template>
                      </v-file-input>
                    </v-col>
                  </v-row>
                </section>

                <section>
                  <div class="box-checkbox">
                    <div
                      class="mt-4 d-flex justify-space-between align-center selecionar-todos"
                    >
                      <h4 class="font-weight-regular">
                        Selecione os documentos desejados:
                      </h4>
                      <v-checkbox
                        label="Selecionar todas as opções"
                        v-model="selectAll"
                        hide-details="auto"
                        class="mt-0 pt-0"
                        @change="selecionaTodos(selectAll)"
                      />
                    </div>
                    <v-divider class="mt-2"></v-divider>
                    <v-row class="pa-5">
                      <!-- <span v-if="kits.length == 0 && loading == false"
                        >Não há tipos de kits no banco de dados</span
                      > -->
                      <v-col
                        v-for="kit in solicitacao.itens"
                        :key="kit.id"
                        xl="6"
                        lg="6"
                        md="6"
                        sm="12"
                        xs="12"
                        class="col-xs-12 pt-0 pb-0"
                      >
                        <v-checkbox
                          v-model="checkbox"
                          multiple
                          :value="kit"
                          :label="kit.tipo.titulo"
                          :disabled="kit.concluido"
                          hide-details="true"
                          class="mt-1"
                        />
                      </v-col>
                    </v-row>
                  </div>
                </section>
              </v-container>
            </v-card-text>

            <v-card-actions class="d-flex justify-space-between botoes-anexos">
              <v-col xl="6" lg="6" md="6" sm="6" xs="12" class="col-xs-12">
                <v-btn
                  color="error"
                  block
                  @click="cancelarModalAnexarArquivo()"
                >
                  Cancelar
                </v-btn>
              </v-col>
              <v-col
                xl="6"
                lg="6"
                md="6"
                sm="6"
                xs="12"
                class="col-xs-12"
                v-if="!semResultado"
              >
                <v-btn
                  color="primary"
                  block
                  @click="salvarArquivo()"
                  v-if="!loading"
                >
                  Anexar documento
                </v-btn>
                <v-btn disabled block @click="salvarArquivo()" v-else>
                  Anexar documento
                </v-btn>
              </v-col>
              <v-col
                xl="6"
                lg="6"
                md="6"
                sm="6"
                xs="12"
                class="col-xs-12"
                v-else
              >
                <v-btn color="primary" block @click="salvarSemResultado()">
                  Salvar Sem Resultado
                </v-btn>
              </v-col>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog persistent v-model="mostrarModalUpload" max-width="500">
          <v-card>
            <v-card-title>
              <h2>Enviando arquivo...</h2>
            </v-card-title>
            <v-card-text class="text-center">
              <v-progress-circular
                indeterminate
                size="100"
                color="primary"
                width="15"
              />
            </v-card-text>
          </v-card>
        </v-dialog>
      </div>
      <ModalVerMais
        :documento="documento"
        :ativo="modalVerMais"
        v-on:fechar="modalVerMais = false"
      />
    </div>
  </v-main>
</template>

<script>
import Topbar from "@/components/Topbar";
import Menu from "@/components/Menu";
import apiSolicitacoes from "@/services/solicitacoesApi.js";
import apiArquivo from "@/services/arquivoApi.js";
import apiItemPesquisa from "@/services/itemPesquisaApi.js";
import Alerta from "@/utils/Alerta.js";
import Download from "@/utils/Download.js";
import ModalVerMais from "../Consultor/components/ModalVerMais";

export default {
  props: ["idSolicitacao", "tab"],
  components: {
    Topbar,
    Menu,
    ModalVerMais,
  },
  data: () => ({
    fechaMenu: false,
    solicitacao: {},
    itensComArquivo: [],
    itensSemResultado: [],
    user: {},
    permitedFiles:
      ".csv, " +
      "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, .xls" +
      " application/vnd.ms-excel, image/*, application/pdf, application/msword," +
      " application/vnd.ms-powerpoint, text/plain, .doc, .docx, .ppt, .pptx",

    // modal
    mostraModalAnexarDocumento: false,
    mostrarModalUpload: false,
    semResultado: false,
    loading: false,
    checkbox: [],
    selectAll: false,
    arquivo: null,
    nomeArquivo: null,

    // anexos
    abrePainelConsultasConcluidas: false,
    abrePainelConsultasSemResultado: false,
    panel: 0,
    panel1: 0,
    modalVerMais: false,
    documento: [],
    anexarBtnDisable: false,
  }),
  methods: {
    voltar() {
      localStorage.setItem("voltar", this.tab);
      this.$router.go(-1);
    },
    fecharMenu(fechaMenu) {
      this.fechaMenu = fechaMenu;
    },
    selecionaTodos(selectAll) {
      let vm = this;
      if (selectAll) {
        vm.checkbox = vm.solicitacao.itens.filter((i) => !i.concluido);
      } else {
        vm.checkbox = {};
      }
    },
    verMais(documento) {
      this.documento = documento;
      this.modalVerMais = true;
      console.log(documento);
    },
    //Modal
    cancelarModalAnexarArquivo() {
      this.nomeArquivo = "";
      this.arquivo = null;
      this.mostraModalAnexarDocumento = false;
    },
    // API
    buscaSolicitacao() {
      apiSolicitacoes.buscaSolicitacao(this.idSolicitacao).then((response) => {
        this.solicitacao = response.data;
        this.filtroItensComArquivo();
        this.filtroItensSemResultado();
      });
    },
    async inserirArquivo(arquivoInfo, file) {
      const formdata = this.criaFormData(arquivoInfo, file);
      await apiArquivo.salvarArquivo(this.idSolicitacao, formdata);
    },
    async deletarArquivo(idSolicitacao, idArquivo) {
      await apiArquivo.deletar(idSolicitacao, idArquivo);
    },
    async downloadArquivo(idArquivo) {
      await apiArquivo
        .baixar(this.idSolicitacao, idArquivo)
        .then((response) => {
          Download.getBase64(response);
        });
    },
    async removerSemResultado() {
      const listaIdItens = this.itensSemResultado.map(
        ({ id }) => new Object({ id: id })
      );
      await apiItemPesquisa.excluirSemResultadoItem(listaIdItens);
    },
    async inserirSemResultado() {
      const lista = this.checkbox.map(({ id }) => new Object({ id: id }));
      await apiItemPesquisa.inserirSemResultadoItem(lista);
    },
    async concluirSolicitacao(id) {
      await apiSolicitacoes.concluir(id);
    },
    async atualizarAtendente(id) {
      await apiSolicitacoes.atender(id);
    },
    async reverterSolicitacao(id) {
      await apiSolicitacoes.reverter(id);
    },
    // Ações
    anexarArquivo() {
      this.nomeArquivo = this.nomeArquivo
        ? this.nomeArquivo
        : this.arquivo.name;
    },
    async salvarArquivo() {
      if (this.isItensNotEmpty() && this.isFileSizeValid()) {
        this.anexarBtnDisable = true;
        this.mostrarModalUpload = true;
        const arquivoInfo = {
          fileName: this.isNomeArquivoValido(),
          contentType: this.arquivo.type,
          itens: this.checkbox.map(({ id }) => new Object({ id: id })),
        };
        this.inserirArquivo(arquivoInfo, this.arquivo)
          .then(() => {
            this.arquivo = null;
            this.nomeArquivo = null;
            this.checkbox = [];
            this.buscaSolicitacao();
            Alerta.sucesso("Arquivo anexado com sucesso.");
          })
          .finally(() => {
            this.anexarBtnDisable = false;
            this.mostrarModalUpload = false;
            this.mostraModalAnexarDocumento = false;
          });
      }
    },
    async excluirArquivo(idSolicitacao, idArquivo) {
      Alerta.warningConfirm(async (resposta) => {
        if (resposta) {
          await this.deletarArquivo(idSolicitacao, idArquivo);
          await this.buscaSolicitacao();
        }
      }, "Deseja realmente deletar este arquivo?");
    },
    async excluirSemResultado() {
      Alerta.warningConfirm(async (resposta) => {
        if (resposta) {
          await this.removerSemResultado();
          await this.buscaSolicitacao();
        }
      }, "Deseja realmente remover este estes itens de concluido sem resultado?");
    },
    async salvarSemResultado() {
      if (this.isItensNotEmpty()) {
        Alerta.warningConfirm(async (resposta) => {
          if (resposta) {
            await this.inserirSemResultado().then(() => {
              this.mostraModalAnexarDocumento = false;
              this.buscaSolicitacao();
              this.arquivo = null;
              this.nomeArquivo = null;
              this.checkbox = [];
              Alerta.sucesso("Sucesso ao salvar itens sem resultado.");
            });
          }
        }, "Deseja salvar os itens selecionados como sem resultado?");
      }
    },
    async concluir() {
      const vm = this;
      await Alerta.warningConfirm(async (resposta) => {
        if (resposta) {
          await vm.concluirSolicitacao(vm.idSolicitacao);
          vm.$router.push({ name: "Consultas" });
        }
      }, "Deseja concluir a pesquisa?");
    },
    async atender(isEmAtendimento, isMesmoAtendente) {
      const vm = this;
      let msg = null;
      if (isMesmoAtendente) {
        msg = "Deseja parar o atendimento?";
      } else if (isEmAtendimento) {
        msg =
          "A solicitação já está em atendimento. Deseja mudar de atendente?";
      } else {
        msg = "Deseja atender a solicitacao?";
      }
      await Alerta.warningConfirm(async (resposta) => {
        if (resposta) {
          await vm.atualizarAtendente(vm.idSolicitacao);
          await vm.buscaSolicitacao();
        }
      }, msg);
    },
    async reverter() {
      const vm = this;
      await Alerta.warningConfirm(async (resposta) => {
        if (resposta) {
          await vm.reverterSolicitacao(vm.idSolicitacao);
          await vm.buscaSolicitacao();
        }
      }, "Deseja reverter a pesquisa?");
    },
    // filtros
    filtroItensComArquivo() {
      const vm = this;
      const arquivos = new Set(
        this.solicitacao.itens
          .filter((i) => i.arquivo)
          .map(({ arquivo }) => arquivo.id)
      );
      vm.itensComArquivo = [];
      arquivos.forEach((a) => {
        const listaItens = vm.solicitacao.itens.filter((i) =>
          i.arquivo ? i.arquivo.id === a : false
        );
        const file = listaItens.find((i) =>
          i.arquivo ? i.arquivo.id === a : false
        );
        vm.itensComArquivo.push(
          new Object({ arquivo: file.arquivo, itens: listaItens })
        );
      });
    },
    filtroItensSemResultado() {
      this.itensSemResultado = this.solicitacao.itens.filter(
        (i) => i.semResultado
      );
    },
    criaFormData(arquivoinfo, file) {
      let formData = new FormData();
      formData.append("dados", JSON.stringify(arquivoinfo));
      formData.append("arquivo", file);
      return formData;
    },
    isNomeArquivoValido() {
      const nome = this.nomeArquivo.trim().split(".");
      if (nome.length < 2) {
        return this.nomeArquivo.trim() + this.arquivo.name.split(".")[1];
      } else if (nome.length === 2) {
        return this.nomeArquivo.trim();
      } else {
        return this.arquivo.name;
      }
    },
    isItensNotEmpty() {
      if (this.checkbox.length > 0) {
        return true;
      } else {
        Alerta.erro("Não há itens selecionados.");
        return false;
      }
    },
    isCompleted() {
      let contConcluidos = 0;
      let contItens = 1;
      if (this.solicitacao.itens) {
        contItens = this.solicitacao.itens.length;
        contConcluidos = this.solicitacao.itens.filter((i) => i.concluido)
          .length;
        return contConcluidos === contItens ? true : false;
      } else {
        return false;
      }
    },
    textoBotaoAtender() {
      if (this.solicitacao.emAtendimentoPor) {
        if (this.solicitacao.emAtendimentoPor.login === this.user.login) {
          return "Parar Atendimento";
        } else {
          return "Atender";
        }
      } else {
        return "Atender";
      }
    },
    isFileSizeValid() {
      if (this.arquivo.size > 10485760) {
        Alerta.erro("Arquivo muito grande. Limite de 10MB.");
        return false;
      } else {
        return true;
      }
    },
  },
  mounted() {
    this.user = JSON.parse(localStorage.getItem("user"));
    this.buscaSolicitacao();
  },
};
</script>

<style scoped>
h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
}
label {
  font-weight: bold;
}
.col {
  padding: 0.25rem;
}
.box {
  box-shadow: 0px 1px 6px 0px #00000029;
  margin-bottom: 0.5rem;
}
.box-titulo {
  background-color: #f8f8f8;
  padding: 0.5rem 1rem;
}
.box-urgente {
  background-color: #ff5959;
  padding: 0.5rem 1rem;
}

.box-consulta {
  box-shadow: 0px 1px 6px 0px #00000029;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-consulta-header {
  background-color: #1268b3;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
  text-align: center;
  padding: 10px 0;
}

.box-consulta-header h4 {
  word-break: break-all;
}

.box-consulta-header-sem-arquivo {
  background-color: #ff9800;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
  text-align: center;
  padding: 10px 0;
}

.box-consulta-header-sem-arquivo h4 {
  word-break: break-all;
}

.box-consulta-corpo {
  justify-content: space-between;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 160px;
}

.documentos-relacionados {
  text-transform: uppercase;
  color: #676767;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

ul li:before {
  content: "- ";
}

.ver-mais {
  color: #1976d2;
  cursor: pointer;
}

.panel-consultas {
  text-transform: uppercase;
  background-color: #f8f8f8;
  color: #000;
  font-weight: bold;
  font-size: 1.25em;
}

.marcador-sem-resultado {
  height: 15px;
  max-width: 15px;
  background-color: #ff9800;
  border-radius: 50%;
  margin-right: 10px;
}

.marcador-concluido {
  height: 15px;
  max-width: 15px;
  background-color: #4caf50;
  border-radius: 50%;
  margin-right: 10px;
}
div .disabled {
  background-color: lightgray;
}

.box-documentos {
  height: 100%;
}

@media screen and (max-width: 600px) {
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .botoes-anexos {
    flex-wrap: wrap;
  }
  .botao-download {
    max-width: 100%;
    font-size: 0.8em;
  }
  .selecionar-todos {
    flex-wrap: wrap;
  }
}
</style>
