<template>
  <div class="box-consulta">
    <div class="box-consulta-header">
      <h4>{{ arquivo.fileName }}</h4>
    </div>
    <div class="box-consulta-corpo">
      <div class="pt-2 px-5">
        <h4 class="documentos-relacionados">
          Documentos relacionados
        </h4>
        <v-divider></v-divider>
        <ul>
          <div v-if="arquivo.itens.length > 4">
            <li v-for="(val, id) in 4" :key="id">
              {{ arquivo.itens[id].tipo.titulo }}
            </li>
          </div>
          <div v-else>
            <li v-for="(val, id) in arquivo.itens.length" :key="id">
              {{ arquivo.itens[id].tipo.titulo }}
            </li>
          </div>
        </ul>
        <p
          class="ver-mais"
          v-if="arquivo.itens.length > 4"
          @click="verMais(arquivo)"
        >
          Ver mais...
        </p>
      </div>
      <div class="px-2 pb-3">
        <v-btn
          block
          outlined
          color="primary"
          @click="baixar(idSolicitacao, arquivo.id)"
        >
          Download
        </v-btn>
      </div>
    </div>
  </div>
</template>
<script>
import apiArquivo from "@/services/arquivoApi.js";
import Download from "@/utils/Download.js";

export default {
  name: "CardArquivo",
  props: {
    idSolicitacao: { type: Number, default: 0 },
    arquivo: { type: Object, default: () => {} },
  },
  data: () => ({}),
  methods: {
    verMais(documento) {
      this.$emit("ver-mais", documento);
    },
    baixar(idSolicitacao, idArquivo) {
      apiArquivo.baixar(idSolicitacao, idArquivo).then((response) => {
        Download.getBase64(response);
      });
    },
  },
};
</script>

<style scoped>
.box {
  box-shadow: 0px 1px 6px 0px #00000029;
  margin-bottom: 0.5rem;
}
.box-consulta {
  box-shadow: 0px 1px 6px 0px #00000029;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-consulta-header {
  background-color: #1268b3;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
  text-align: center;
  padding: 10px 0;
}

.box-consulta-header h4 {
  word-break: break-all;
}

.box-consulta-corpo {
  justify-content: space-between;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 160px;
}

.documentos-relacionados {
  text-transform: uppercase;
  color: #676767;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

ul li:before {
  content: "- ";
}

.ver-mais {
  color: #1976d2;
  cursor: pointer;
}
</style>
