<template>
  <v-dialog v-model="ativo" width="800" @click:outside="fechar">
    <v-card>
      <v-card-title class="box-consulta-header">
        <h4>{{ documento.fileName ? documento.fileName : 'Sem arquivo' }}</h4>
      </v-card-title>

      <v-card-text>
        <h4 class="documentos-relacionados pt-5">
          Documentos relacionados
        </h4>
        <v-divider></v-divider>
        <ul v-if="documento.itens != null">
          <li v-for="(val, id) in documento.itens" :key="id">
            {{ documento.itens[id].tipo.titulo }}
          </li>
        </ul>
        <ul v-else>
          <li v-for="itens in documento" :key="itens.id">
            {{ itens.titulo ? itens.titulo : itens.tipo.titulo }}
          </li>
        </ul>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="fechar">
          Fechar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'ModalVerMais',
  props: { documento: null, ativo: { type: Boolean, default: false } },
  components: {},
  data: () => ({}),
  methods: {
    fechar() {
      this.$emit('fechar');
    },
  },
};
</script>

<style scoped>
.box-consulta-header {
  background-color: #1268b3;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
  text-align: center;
  padding: 10px 0;
}

.documentos-relacionados {
  text-transform: uppercase;
  color: #676767;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

ul li:before {
  content: '- ';
}
</style>
