<template>
  <v-app>
    <Load />
    <router-view />
  </v-app>
</template>

<script>
import Load from '@/components/Load';
export default {
  name: "App",
  components: {
    Load,
  },
  data: () => ({}),
};
</script>
<style>
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("assets/font/Roboto-Regular.ttf");
}

body {
  font-family: Roboto;
}

.altura-menu {
  height: calc(100% - 62.5px);
}

.box {
  box-shadow: 0px 0px 4px 2px #8080802e;
  padding: 25px;
}

.botao {
  text-transform: capitalize !important;
  letter-spacing: normal !important;
  font-size: 1rem;
}

.cabecalho-modal {
  background-color: #1268b3;
  color: white;
  justify-content: center;
  text-transform: uppercase;
}

.cabecalho-modal-sucesso {
  background-color: #4caf50;
  color: white;
  justify-content: center;
  text-transform: uppercase;
}

.img-responsive {
  max-width: 100%;
}

.espaco-letras {
  letter-spacing: 0 !important;
}

.subtitulo-consulta {
  font-size: 0.9em;
  color: #004592;
}

@media (min-width: 1500px) and (max-width: 1904px) {
  .container {
    max-width: 100% !important;
  }
}
</style>
